/* ::::: http://tk.duyihu.org/css/style.css ::::: */

body { font-size: 1.2em; font-family: "微软雅黑"; background-color: rgb(241, 241, 241); color: rgb(0, 0, 0); }
html { overflow-x: hidden; overflow-y: auto; }
* { margin: 0px; padding: 0px; }
img { vertical-align: middle; border: 0px none; }
.clear { clear: both; height: 0px; font-size: 0px; line-height: 0px; margin: 0px; padding: 0px; }
a:active, a:focus { outline: medium none; }
a { color: rgb(138, 138, 138); text-decoration: none; outline: medium none; }
a:hover { color: rgb(0, 0, 0); }
.w640 { margin: 0px auto; width: 640px; }
a.btn01 { color: rgb(255, 255, 255); height: 2em; line-height: 2em; text-align: center; width: 6em; font-size: 1.5em; text-decoration: none; display: inline-block; border-bottom: 5px solid rgb(153, 0, 0); background: rgb(204, 0, 0) none repeat scroll 0% 0%; margin-left: 35%; margin-bottom: 1em; margin-top: 0.5em; }
.mtop { margin-top: 1.2em; }
.div01 { background: rgb(0, 0, 0) none repeat scroll 0% 0%; text-align: center; }
.div02 { background: rgb(204, 0, 0) none repeat scroll 0% 0%; }
.div02 .p1 { font-size: 25px; color: rgb(255, 255, 0); line-height: 42px; margin-top: 10px; margin-left: 25%; }
.div02 .p1 span { float: left; margin-left: 0.3em; }
.div02 .p1 .span1 { background: transparent url("mkimg_01.jpg")/*tpa=http://ttnk1.whaad.com/image2.ltxian.com/www.ltxian.com_wapmk/mkimg_01.jpg*//*tpa=http://image2.ltxian.com/www.ltxian.com_wapmk/mkimg_01.jpg*/ no-repeat scroll 0% 0%; width: 35px; height: 41px; display: block; margin: 0px 0px 0px 5px; color: rgb(0, 0, 0); font-size: 31px; text-align: center; line-height: 41px; font-weight: bold; }
.div02 .p1 .span2 { margin-right: 5px; }
.div02 .p2 { text-align: center; }
.div02 .p2 a { background: transparent url("mkimg_02-2.png")/*tpa=http://ttnk1.whaad.com/image2.ltxian.com/www.ltxian.com_wapmk/mkimg_02-2.png*//*tpa=http://image2.ltxian.com/www.ltxian.com_wapmk/mkimg_02-2.png*/ no-repeat scroll 0% 0%; width: 175px; height: 65px; display: block;
margin: 0 auto;
    margin-top: 73px;
    margin-left: 34%;
 }
.div03 { background: rgb(140, 0, 1) none repeat scroll 0% 0%; text-align: center; }
.sp { margin: 2.6em auto; z-index: 1; text-align: center; }
.ordertwo { text-align: center; background: rgb(102, 102, 102) none repeat scroll 0% 0%; margin-left: auto; margin-right: auto; clear: both; padding: 2em 0em 1em; }
.orderanniu a { color: rgb(255, 255, 255); text-align: center; text-decoration: none; display: inline-block; }
.orderanniu a.onlinedg { font-size: 1.5em; height: 2em; line-height: 2em; width: 7em; background: rgb(153, 0, 0) none repeat scroll 0% 0%; box-shadow: 0px 5px 0px rgb(102, 0, 0); }
.ordertwo .tel01 { color: rgb(153, 153, 153); line-height: 1.8em; font-size: 1.2em; }
.ordertwo .tel01 span { margin-right: 0.3em; display: inline-block; }
.ordertwo .tel01 img { width: 1.2em; margin-right: 0.1em; margin-top: 6%; vertical-align: top; }
.order { font-size: 1.2em; }
.order p { font-weight: bold; color: rgb(51, 51, 51); text-align: left; margin: 0.5em 0.5em 0em; }
.order p span { color: rgb(153, 0, 0); vertical-align: top; margin-top: 0.3em; }
.order p input { width: 60%; height: 2.4em; border: 1px solid rgb(204, 204, 204); text-indent: 5px; }
.order p textarea { width: 58%; height: 5em; border: 1px solid rgb(204, 204, 204); color: rgb(136, 136, 136); padding: 6px; }
.order p span.mleft { color: rgb(51, 51, 51); margin-left: 0.8em; vertical-align: top; }
.submit { background: rgb(240, 101, 8) none repeat scroll 0% 0%; border: 0px none; box-shadow: 0px 5px 0px rgb(203, 84, 4); color: rgb(255, 255, 255); height: 2.2em; line-height: 2.2em; width: 6.5em; font-size: 1.2em; margin: 0.8em 0em 1em 9em; cursor: pointer; }
.delivery { font-size: 1.3em; color: rgb(102, 102, 102); text-align: left; background: rgb(224, 224, 224) none repeat scroll 0% 0%; padding: 0.5em 0em; line-height: 1.6em; margin-bottom: 5.6em; }
.delivery p { margin-left: 0.5em; }
.delivery p span { color: rgb(0, 0, 0); }
.bottom { position: fixed; bottom: 0px; z-index: 999; }
.bottom a { position: relative; display: block; }
.bottom a .img01 { width: 100%; }
.bottom a img { display: block; margin: 0px auto; width: 100%; }
.bottom a .img02 { width: 28%; position: absolute; top: 48%; right: 8%; }


/* ::::: http://www.jkdew.com/images/page_mp_article.css ::::: */
body { line-height: 1.6; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; }
body, h1, h2, h3, h4, h5, p, ul, ol, dl, dd, fieldset, textarea { margin: 0px; }
fieldset, legend, textarea, input, button { padding: 0px; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px; }
ul, ol { padding-left: 0px; list-style-type: none; list-style-position: inside; }
a img, fieldset { border: 0px none; }
a { text-decoration: none; }
.rich_media_inner { padding: 15px 10px; }
.rich_media_title { line-height: 24px; font-weight: 700; font-size: 20px; word-wrap: break-word; }
.rich_media_thumb { font-size: 0px; margin-top: 18px; }
.rich_media_content { margin-top: 18px; color: rgb(62, 62, 62); word-wrap: break-word; }
.rich_media_content p { min-height: 1em; word-wrap: normal; white-space: pre-wrap; margin-top: 1em; margin-bottom: 1em; }
.rich_media_content p::after { content: "​"; display: block; height: 0px; clear: both; }
.rich_media_content * { max-width: 100% ! important; word-wrap: break-word ! important; box-sizing: border-box ! important; }
.rich_media_content img { height: auto ! important; }
.rich_media_tool::after { content: "​"; display: block; height: 0px; clear: both; }
@media screen and (min-width: 1023px) {
	.rich_media { width: 740px; margin-left: auto; margin-right: auto; }
	.rich_media_inner { padding: 20px; background-color: rgb(255, 255, 255); border-width: 0px 1px 1px; border-style: solid; border-color: rgb(217, 218, 220); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
	.rich_media_content { min-height: 350px; }
	.rich_media_title { padding-bottom: 10px; margin-bottom: 5px; border-bottom: 1px solid rgb(231, 231, 235); }
}
@media screen and (min-width: 1023px) {
	.rich_media { position: relative; }
	.rich_media_inner { padding-bottom: 78px; }
}
body { background-color: rgb(248, 247, 245); }
h1, h2, h3, h4, h5, h6 { font-weight: 400; font-style: normal; font-size: 100%; }
.rich_media_content { font-size: 16px; overflow: hidden; }
.rich_media_content p { margin-top: 0px; margin-bottom: 0px; }
@media screen and (min-width: 1023px) {
	body { background-color: rgb(231, 232, 235); font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }
	.rich_media_inner { position: relative; }
}
/* ::::: http://www.jkdew.com/images/buy_new.css ::::: */

a { color: rgb(70, 70, 70); outline-style: none; text-decoration: none; }
body { background-color: rgb(245, 245, 245); color: rgb(70, 70, 70); }
body, button, input { font: 14px/22px Arial,"Microsoft YaHei"; }
html, body { margin: 0px; padding: 0px; width: 100%; }
img { border: medium none; vertical-align: bottom; }
input, textarea, select { border: medium none; outline: medium none; }
section, footer, nav, em, mark, p, span, ul, li, ol, h1, h2, h3, h4, input, textarea { font-style: normal; font-weight: normal; list-style: outside none none; margin: 0px; padding: 0px; }
.block, header, footer, section { display: block; }
.c_txt { text-align: center; }
.i_pri { color: rgb(190, 12, 12); font-size: 18px; }
.orange_bg { background-color: rgb(255, 80, 0) ! important; }
.rel { position: relative; }
.item_sec { padding: 10px; line-height: 30px; }
.item_wrap { border-radius: 5px; box-shadow: 0px 1px 2px 2px rgb(228, 228, 228); overflow: hidden; padding: 10px; background: rgb(250, 250, 250) none repeat scroll 0% 0%; }
.item_wrap img { float: left; margin: 0px 10px 10px 0px; }
.sku_ul { clear: left; }
.sku_ul li {  margin: 0px 6px 6px 0px; }
.sku_ul li a { line-height: 30px; border: 1px solid rgb(206, 206, 208); background-color: rgb(250, 250, 250); border-radius: 5px; padding: 0px 15px; display: block;overflow: hidden;width: 100%;}
.sku_ul li .sku_cur { border-color: rgb(255, 80, 0); }
.i_pri { font-size: 14px; }
.row { position: relative; padding: 5px 10px 5px 70px; }
.row > label, .row > b { position: absolute; left: 0px; }
.add { background: rgb(245, 245, 245) none repeat scroll 0% 0%; }
.select, .input { border: 1px solid rgb(217, 217, 217); font-size: 14px; height: 30px; line-height: 30px; text-indent: 6px; vertical-align: middle; width: 100%; }
.select { margin-right: 5px; width: 42%; }
footer { padding: 5px 10px; }
footer p.note { padding: 13px 10px; line-height: 30px; }
#buy_now { color: rgb(255, 255, 255); border-radius: 4px; width: 100%; font-size: 16px; line-height: 40px; box-shadow: 0px -1px 0px 0px rgb(215, 67, 0) inset; border: 0px none; outline: medium none; }
ol, ul { list-style-position: inside; }

.float_qb dl,.float_qb dd,.float_qb p{ margin:0; padding:0; list-style:none;}
.float_qb{ position:fixed; z-index:1000; bottom:0; width:100%; left:0; background:#fcfcfc; padding:5px 10px; line-height:22px; color:#000; font-weight:normal; border:#eee 1px solid; box-sizing:border-box; font-size:14px;}
.float_qb h5{ font-weight:bold; font-size:16PX;}
.float_qb dt{ float:left; width:40px; margin-right:10px;}
.float_qb dt img{ width:100%;}
.float_qb dd{ overflow:hidden;}
.float_qb dd span{ background:#F00; color:#fff; font-weight:bold; padding:0 5px; font-weight:bold; font-size:16px;}
