<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>西南儿童医院康复中心|儿童多动症康复_自闭症康复机构_孤独症康复训练_儿童脑瘫康复治疗</title>
<meta content="西南儿童医院康复中心,儿童多动症康复,自闭症康复机构,孤独症康复训练,儿童脑瘫康复治疗" name="Keywords">
<meta content="西南儿童医院康复中心是西南儿童医院下属的，一家旨在为广泛性发育障碍(包括孤独症、语言发育迟缓、感觉统合失调)以及多动症、唐氏综合症等特殊儿童提供行为、语言、技能、感知觉统合等早期干预的专业康复机构。" name="Description">
<link type="text/css" rel="stylesheet" href="__CSS__/reset.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/common.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/jquery.lightbox-0.5.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/jquery-ui-1.7.2.custom.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/style2.css" />
<link type="text/css" rel="stylesheet" href="__CSS__/kfzx.css" />
<script src="__JS__/jquery-1.9.1.min.js"></script>
<script src="__JS__/jquery.SuperSlide.2.1.1.js"></script>
</head>

<body>
<div id="outer">
  <div class="inner">
    <div class="width"> 
      
      <div id="header"> <a id="top"></a>
        <div class="logo"> <a href="http://kf.xnekyy.cn/"></a> </div>
        <div class="top_nav">
          <div class="lang">
            <span id="zhankai">{$rels.username}<img id="tupian" src="__IMG__/dengluxiala.png" height="8"/></span>
            <span><a href="http://kf.xnekyy.cn/" target="_blank">主页</a></span>
             <span>|</span> 
             <span><a href="http://kf.xnekyy.cn/zxjs/lxwm/" target="_blank">联系我们</a></span> 
             <ul class="dianjsj">
                <li><a type="" href="{:U('User/userinfo?id='.$rels['id'])}">个人资料</a></li>
                <li><a href="#">我的课程</a></li>
                <li><a href="{:U('User/userjk?id='.$rels['id'])}">健康档案</a></li>
             </ul>
             </div>
          <script>
			  $("#zhankai").click(function(){
				var tup = $('#tupian')[0].src;
				$(".dianjsj").fadeToggle();
				if(tup.indexOf("dengluxiala")>0){
					  $('#tupian').attr('src','__IMG__/denglushangla.png');
					}else{
				      $('#tupian').attr('src','__IMG__/dengluxiala.png');
				}
			  });
		  </script>
        </div>
        <div class="clear"></div>
        <div id="menu">
          <div class="menu_list">
            <ul>
              <li id="btn1"><a href="http://kf.xnekyy.cn/zxjs/" title="中心介绍">中心介绍</a></li>
              <li id="btn2"><a href="http://kf.xnekyy.cn/kcsz/" title="课程设置">课程设置</a></li>
              <li id="btn3"><a href="http://kf.xnekyy.cn/szdw/" title="师资队伍">师资队伍</a></li>
              <li id="btn4"><a href="http://kf.xnekyy.cn/pxhd/" title="培训活动">培训活动</a></li>
              <li id="btn5"><a href="http://kf.xnekyy.cn/kfgs/" title="康复故事">康复故事</a></li>
              <li id="btn6"><a href="http://kf.xnekyy.cn/kfzx/" title="儿童康复资讯">儿童康复资讯</a></li>
              <li id="btn7"><a  title="预约课程">课程列表</a></li>
            </ul>
          </div>
          <div class="right_ban" id="banner"> <a href="http://kf.xnekyy.cn/kfpg/" target="_blank"><img src="__IMG__/ddcook.jpg" alt="康复评估" /></a> </div>
          <div class="clear"></div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="content">
        <div class="index">
          <div class="index_news">
            <div class="sd23"></div>
            <div class="bg2">
              <ul class="kechenglb">
               <p class="kclb">课程列表</p>
               <foreach name="rel" item="a">
                 <a type="" href="{:U('Class/kcxq',array('kcid'=>$a['id'],'userid'=>$rels['id']))}"><li><p>{$a.name}</p><p>已有23万人参与</p></li></a>
               </foreach>
                  <div class="clear"></div>
               </ul>
              <div class="clear"></div>
            </div>
            <div class="sd24"></div>
          </div>
          <div class="index_right">
            <div class="scheme_bg2"> <a href="http://kf.xnekyy.cn/kfpg/" target="_blank"><img src="__IMG__/aped-logo.png" alt="" /></a> <a target="_blank" href="http://kf.xnekyy.cn/czxl/"><img src="__IMG__/index_scheme_cht1.png" alt="" /></a> <a target="_blank" href="http://kf.xnekyy.cn/kfzx/"><img src="__IMG__/index_scheme_cht2.png" alt="" /></a> <a target="_blank" href="http://kf.xnekyy.cn/gyga/"><img src="__IMG__/CHI_165.png" alt="" /></a> </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div id="footer">
        <div class="copyright"> <span><a href="http://kf.xnekyy.cn/" title="主页">主页</a></span> | <span><a href="http://kf.xnekyy.cn/zxjs/" title="中心地址">中心地址</a></span> | <span><a href="http://kf.xnekyy.cn/pxhd/" title="团队活动">团队活动</a></span> | <span><a href="http://kf.xnekyy.cn/" title="课程咨询">课程咨询</a></span> | <span><a href="http://kf.xnekyy.cn/kfpg/pglc/" title="评估流程">评估流程</a></span> | <span><a href="http://kf.xnekyy.cn/" title="免责声明">免责声明</a> </span> <br>
          <span>Copyright © 成都西南儿童医院版权所有 蜀ICP备15022251号 </span> </div>
        <div class="support"> <a target="_blank" href="http://kf.xnekyy.cn/"><img src="__IMG__/sgg.jpg" /></a> </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
</body>
</html>
