<extend name="Public/base"/>


<block name="body">
    <script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
    <div class="main-title cf">
        <h2>
            标题修改
        </h2>
    </div>

    <div class="tab-wrap">
        <div class="tab-content">
            <!-- 表单 -->
            <form id="form" action="{:U('editbt')}" method="post" class="form-horizontal">
                <input type="hidden" name="id" value="{$rel.id}">
                <!-- 基础文档模型 -->
                <div id="tab1" class="tab-pane tab1 in">
                    <div class="form-item cf">
                        <label class="item-label">标题</label>
                        <div class="controls">
                            <input type="text" class="text input-large" name="title" value="{$rel.title}">
                        </div>
                    </div>
                    <div class="controls">
                        <input type="file" id="upload_picture_path">
                        <input type="hidden" name="head" id="cover_id_path" value="{$rel['img']}"/>
                        <div class="upload-img-box">
                            <div class="upload-pre-item"><img src="{$rel['img']}"/></div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //上传图片
                        /* 初始化上传插件 */
                        $("#upload_picture_path").uploadify({
                            "height": 30,
                            "swf": "__STATIC__/uploadify/uploadify.swf",
                            "fileObjName": "download",
                            "buttonText": "上传标题封面",
                            "uploader": "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
                            "width": 120,
                            'removeTimeout': 1,
                            'fileTypeExts': '*.jpg; *.png; *.gif;',
                            "onUploadSuccess": uploadPicturepath,
                            'onFallback': function () {
                                alert('未检测到兼容版本的Flash.');
                            }
                        });
                        function uploadPicturepath(file, data) {
                            var data = $.parseJSON(data);
                            var src = '';
                            if (data.status) {
                                $("#cover_id_path").val(data.path);
                                src = data.url || '__ROOT__' + data.path
                                $("#cover_id_path").parent().find('.upload-img-box').html(
                                        '<div class="upload-pre-item"><img src="' + src + '"/></div>'
                                );
                            } else {
                                updateAlert(data.info);
                                setTimeout(function () {
                                    $('#top-alert').find('button').click();
                                    $(that).removeClass('disabled').prop('disabled', false);
                                }, 1500);
                            }
                        }
                    </script>
                    <p>图片规格:750像素*350像素</p><br/>

                    <div class="form-item cf">
                        <button class="btn submit-btn ajax-post hidden" id="submit" type="submit"
                                target-form="form-horizontal">确 定
                        </button>
                        <a class="btn btn-return" href="{:U('biaoti')}">返 回</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</block>


<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
    <php>if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
        ';
    </php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"
            charset="UTF-8"></script>

    <script type="text/javascript">

        $('#submit').click(function(){
            $('#form').submit();
        });

        $(function(){
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();
            highlight_subnav('{:U('Sale/index')}');
            <if condition="C('OPEN_DRAFTBOX') and (ACTION_NAME eq 'add' or $info['status'] eq 3)">
            //保存草稿
                var interval;
            $('#autoSave').click(function(){
                var target_form = $(this).attr('target-form');
                var target = $(this).attr('url')
                var form = $('.'+target_form);
                var query = form.serialize();
                var that = this;

                $(that).addClass('disabled').attr('autocomplete','off').prop('disabled',true);
                $.post(target,query).success(function(data){
                    if (data.status==1) {
                        updateAlert(data.info ,'alert-success');
                        $('input[name=id]').val(data.data.id);
                    }else{
                        updateAlert(data.info);
                    }
                    setTimeout(function(){
                        $('#top-alert').find('button').click();
                        $(that).removeClass('disabled').prop('disabled',false);
                    },1500);
                })

                //重新开始定时器
                clearInterval(interval);
                autoSaveDraft();
                return false;
            });

            //Ctrl+S保存草稿
            $('body').keydown(function(e){
                if(e.ctrlKey && e.which == 83){
                    $('#autoSave').click();
                    return false;
                }
            });

            //每隔一段时间保存草稿
            function autoSaveDraft(){
                interval = setInterval(function(){
                    //只有基础信息填写了，才会触发
                    var title = $('input[name=title]').val();
                    var name = $('input[name=name]').val();
                    var des = $('textarea[name=description]').val();
                    if(title != '' || name != '' || des != ''){
                        $('#autoSave').click();
                    }
                }, 1000*parseInt({:C('DRAFT_AOTOSAVE_INTERVAL')}));
        }
        autoSaveDraft();

        </if>

        });
    </script>
</block>