@charset "utf-8";

html, body {

    padding: 0;

    margin: 0 auto;

    font-size: 20px;

    /*取消点击事件高亮*/

    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

    background: #F5F5F5;

    color: #333333;

    width: 100%;

    font-family: Helvetica;

    -webkit-overflow-scrolling: touch;

    max-width: 640px;

}

.key-padding{

    padding: 0 0.75rem;

    cursor: pointer;

}

* {

    -webkit-box-sizing: border-box;

    box-sizing: border-box;

    font-family: 'Microsoft YaHei';

}

a {

    color: #333333;

}

input[type="search"] {

    -webkit-appearance: none;

}

input::-webkit-search-cancel-button {

    display: none;

}

a.active {

    color: #3ca5f6;

}

.hide {

    display: none;

}

.author-a1 {

    color: #bbbbbb;

    margin-right: 5px;

}

.pull-right {

    float: right;

	/*margin-top: 14px;*/

}

.pull-left {

    float: left;

}

ul {

    padding: 0;

    margin: 0;

}

ul li {

    list-style: none;

}

.c1 {

    color: #333333;

}

.c2 {

    color: #999999;

}

.c3 {

    color: #f63756;

}

.c4 {

    color: #bbbbbb;

}

.f1 {

    font-size: 2rem;

}

.f2 {

    font-size: 2.8rem;

}

.f3 {

    font-size: 3.2rem;

}

.f17{

    font-size: 17px;

}

.f18{

    font-size: 18px;

}

a {

    cursor: pointer;

    text-decoration: none;

}

.text-right{

    text-align: right;

}

.text-left{

    text-align: right;

}

.text-center{

    text-align: center;

}

.htmlBox {

    position: relative;

    width: 100%;

    height: 100%;

    background: #f5f5f5;

    max-width: 640px;

}

/*点击取消边框颜色*/

button, html input, textarea {

    -webkit-appearance: button;

    cursor: pointer;

    outline: none;

}

.logo-box {

    position: absolute;

    left: 47%;

    margin-left: -50px;

    margin-top: 5px;

}

.logo-box img {

    height: 35px;

}

/*占位符*/

.placeholder-line {

    width: 100%;

    height: 15px;

    background: #f5f5f5;

}

.placeholder-line-f {

    background: #ffffff;

}

.placeholder-box {

    height: 0px;

    display: none;

}

/*侧边栏菜单*/

.nav-share {

    position: fixed;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: 1300;

    opacity: 0;

    cursor: pointer;

    top: 0;

    max-width: 640px;

}

.share-ul {

    width: 100%;

    text-align: center;

}

.nav-box {

    cursor: pointer;

    width: 100%;

    background: #ffffff;

}

.user-wrap {

    position: absolute;

    background: #f5f5f5;

    left: 0;

    right: 0;

    display: none;

    z-index: 1000;

    height: 100%;

    margin-top: 45px;

    overflow: auto;

    padding-bottom: 105px;

}

.user-wrap .information{

    font-size: 0.8rem;

    padding: 1.125rem 1.125rem 0.5rem 1.125rem;

    background: #fff;

}

.user-face-wrap {

    height: 4.5rem;

    border-bottom: 1px solid #F0F0F0;

    background: #ffffff;

}

.user-face-box {

    position: relative;

    width: 2.5rem;

    height: 2.5rem;

    border-radius: 60px;

    top: 1rem;

    left: 15px;

}

.user-face-box img {

    border-radius: 60px;

    width: 100%;

}

.navbar-nav-ul {

    display: inline-block;

    width: 100%;

    background: #ffffff;

    vertical-align: top;

    padding: 0.5rem 1.125rem;

    margin-bottom: 0.25rem;

}

.navbar-nav-ul li{

    position: relative;

    width: 33.33%;

    float: left;

    font-size: 0.8rem;

    height: 2rem;

    line-height: 2rem;

    text-align:left;

}

.navbar-nav-ul li:nth-child(3n-1),.subclass-ul li:nth-child(3n-1){

    text-align:center;

}

.navbar-nav-ul li:nth-child(3n),.subclass-ul li:nth-child(3n){

    text-align:right;

}

.exit-wrap {

    position: absolute;

    right: 1.25rem;

    line-height: 4.5rem;

    font-size: 0.75rem;

    z-index: 10;

    color: #f63756;

}

.exit-wrap a {

    color: #f63756;

    display: inherit;

}

.subclass-ul {

    display: inline-block;

    border-bottom: 0.025rem solid #f0f0f0;

    width: 100%;

    padding:0 1.125rem 0.75rem 1.125rem;

    color: #666666;

    font-size: 0.6rem;

    background: #ffffff;

    vertical-align: top;

}

.subclass-ul li {

    float: left;

    padding: 0 5px 20px 20px;

    height: 1.5rem;

    line-height: 1.5rem;

    text-align: left;

}

.subclass-ul li a {

    color: #666666;

}

.subclass-ul li a.active{

    color: #3ca5f6;

}

.author-name {

    font-size: 15px;

    position: absolute;

    line-height: 4.5rem;

    padding-left: 80px;

    width: 100%;

}

.login-link {

    display: inline-block;

    color: #eb421c;

    width: 7.5rem;

    height: 2rem;

    line-height: 2rem;

    border: 1px solid #eb421c;

    text-align: center;

    font-size: 0.85rem;

    margin-top: 1.25rem;

}

.login-link:nth-child(2) {

    margin-left: 1rem;

    background: #eb421c;

    color: #fff;

}

header {

    /*position:fixed;*/

    width:100%;

    max-width:640px;

    z-index: 800;

}

/*top-bar*/

.top-bar {

    height: 45px;

    background: #ffffff;

    border-bottom: 1px solid #f0f0f0;

}

.navbar-toggle {

    width: 30px;

    height: 30px;

    background: #ffffff;

    text-align: center;

    padding: 0;

    margin: 6px 0 0 15px;

    position: absolute;

    border: none;

}

.navbar-toggle .icon-bar {

    width: 23px;

    height: 1px;

    background: #000000;

    margin-bottom: 7px;

}

.navbar-toggle .icon-bar:last-child {

    margin-bottom: 0px;

}

/*.navbar-toggle.active{*/

/*-webkit-animation: fadeRotate  0.2s 0.2s ease both;*/

/*animation: fadeRotate  0.2s 0.2s ease both;*/

/*}*/

.navbar-toggle.active .icon-bar {

    position: absolute;

    left: 0;

}

.navbar-toggle.active .icon-bar:nth-child(2) {

    display: none;

}

.navbar-toggle.active .icon-bar:nth-child(1) {

    -webkit-animation: fadeRotateRight 0.2s ease both;

    animation: fadeRotateRight 0.2s ease both;

}

.navbar-toggle.active .icon-bar:nth-child(3) {

    -webkit-animation: fadeRotateLeft 0.2s ease both;

    animation: fadeRotateLeft 0.2s ease both;

}

/*广告部分*/

.ad-box1 {

    /*height: 94px;*/

    width: 100%;

}

/*引导框*/

.guide-box {

    position: relative;

    height: 55px;

    width: 100%;

    background: #4c4c4c;

    z-index: 500;

    top: 0;

    display: none;

}

.header {

    z-index: 800;

}

.guide-logo-box {

    position: absolute;

    left: 15px;

    margin-top: 6px;

}

.guide-logo-box img {

    position: absolute;

    width: 49px;

}

.guide-logo-box .title {

    font-size: 18px;

    color: #ffffff;

    margin-left: 50px;

    position: relative;

    top: 4px;

    line-height: 1.1;

}

.guide-logo-box .title span {

    font-size: 13px;

}

.guide-btn-box {

    position: absolute;

    right: 15px;

}

.guide-btn-box i {

    margin-left: 5px;

    float: right;

    margin-top: 13px;

    width: 30px;

    height: 30px;

    text-align: center;

    cursor: pointer;

}

.guide-btn-box .btn-open {

    width: 80px;

    height: 30px;

    background: #3ca5f6;

    color: #ffffff;

    font-size: 13px;

    border-radius: 30px;

    display: inline-block;

    line-height: 30px;

    text-align: center;

    float: right;

    margin-top: 13px;

}

.search-box {

	z-index: 550;

/*    cursor: pointer;

	width: 10.5%;

	margin-top: 14px;*/

}

.swipe {

    overflow: hidden;

    visibility: hidden;

    position: relative;

}

.swipe-wrap {

    overflow: hidden;

    position: relative;

}

.swipe-wrap .figure {

    float: left;

    width: 100%;

    position: relative;

    margin: 0;

}

.wrap {

    width: 100%;

    height: 100%;

}

.image {

    width: 100%;

    height: 100%;

}

nav .position li {

    display: inline-block;

    width: 5px;

    height: 5px;

    border-radius: 5px;

    background: #141414;

    box-shadow: inset 0 1px 3px black, 0 0 1px 1px #202020;

    margin: 0 2px;

    cursor: pointer

}

nav .position li.on {

    box-shadow: inset 0 1px 3px -1px #28b4ea, 0 1px 2px rgba(0, 0, 0, .5);

    background-color: #1293dc;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1293dc), color-stop(100%, #0f6297));

    background-image: -webkit-linear-gradient(top, #1293dc, #0f6297);

    background-image: -moz-linear-gradient(top, #1293dc, #0f6297);

    background-image: -ms-linear-gradient(top, #1293dc, #0f6297);

    background-image: -o-linear-gradient(top, #1293dc, #0f6297);

    background-image: linear-gradient(top, #1293dc, #0f6297)

}

.search-hot a {

    color: #f97752;

}

.search-wrap {

    height: 100%;

    z-index: 1100;

    max-width: 640px;

    margin: 0 auto;

}

.search-wrap, .search-wrap-show {

    position: fixed;

    background: #fff;

    top: 0;

    left: 0;

    right: 0;

    padding-bottom: 50px;

    display: none;

}

.index-ad-box img, .article-ad-box img {

    width: 100%;

}

.search-wrap-show .icon-sm-search {

    width: 38px;

}

.search-wrap .close-box {

    position: absolute;

    right: 5px;

    font-size: 16px;

    color: #bbb;

    display: inline-block;

    padding: 0 10px;

    line-height: 50px;

}

.input-sm-search {

    position: absolute;

    right: 20px;

    top: 0px;

    border: none;

    background: transparent;

}

.search-wrap-show {

    position: relative;

    display: inline-block;

    padding-bottom: 0;

    width: 100%;

}

.search-input-box {

    padding: 0 15px;

    height: 50px;

    line-height: 44px;

    border-bottom: 1px solid #f0f0f0;

}

.search-wrap .search-input, .search-wrap-show .search-input {

    width: 100%;

    height: 33px;

    border-radius: 33px;

    background: #f5f5f5;

    border: none;

    color: #333;

    font-size: 14px;

    padding: 5px 15px;

    margin-top: 9px;

}

.search-wrap .search-input {

    width: 88%;

}

.search-wrap .input-sm-search {

    right: 50px;

}

.search-act {

    margin: 25px 15px 0 15px;

    font-size: 14px;

    color: #bbbbbb;

    height: 23px;

    line-height: 23px;

    border-bottom: 1px solid #f0f0f0;

    display: inline-block;

    width: 100%;

}

.search-history-act, .search-history {

    display: none;

}

.story-praise {

    position: absolute;

    right: 15px;

    margin-top: 15px;

    padding-left: 10px;

    cursor: pointer;

    display: none;

}

.story-praise em {

    font-style: normal;

    font-size: 12px;

    margin-left: 3px;

    color: #bbbbbb;

    position: relative;

    top: -2px;

}

.search-ul {

    margin: 0 15px;

}

.search-ul li {

    height: 30px;

    border-radius: 30px;

    border: 1px solid #f0f0f0;

    margin: 15px 15px 0 0;

    float: left;

    font-size: 16px;

    text-align: center;

    line-height: 30px;

    padding: 0px 10px;

}

[placeholder], *[placeholder] {

    color: #bbbbbb;

}

.btn-cancel {

    font-size: 15px;

    color: #dddddd;

    margin-left: 13px;

}

.neirong-shouquan-public {

    text-align: center;

    z-index: 100;

    background: #FFFFFF;

    padding: 0 15px;

    -webkit-box-sizing: inherit;

    box-sizing: inherit;

    position: relative;

    margin-top: -1px;

}

.neirong-shouquan-public img {

    z-index: 100;

    width: 150px;

}

.neirong-shouquan-public p {

    font-size: 16px;

    text-align: left;

    margin: 0;

}

.article-content .neirong-shouquan-public p {

    text-align: left;

    font-size: 15px;

}

/*icon图标*/

.icon {

    display: inline-block;

    vertical-align: text-bottom;

    background: url(../images/icon.png) no-repeat;

    width: 15px;

    height: 16px;

    cursor: pointer;

    background-size: 250px 300px;

}

.hxrzzz-box {

    position: absolute;

    width: 20px;

    height: 20px;

    border-radius: 20px;

    background: #ffffff;

    text-align: center;

    line-height: 30px;

    right: 0;

    bottom: 0;

}

.c-hxrz {

    display: inline-block;

    background: url(../images/icon.png) no-repeat;

    width: 18px;

    height: 16px;

    background-size: 250px 300px;

    vertical-align: top;

    margin-top: 2px;

}

.hxrzzz-level-1 {

    background-position: -6px -113px;

}

.hxrzzz-level-2 {

    background-position: -6px -133px;

}

.hxrzzz-level-3 {

    background-position: -6px -153px;

}

.hxrzzz-level-4 {

    background-position: -6px -173px;

}

.hxrzzz-level-5 {

    background-position: -6px -198px;

}

.hxrzzz-level-6 {

    background-position: -30px -113px;

}

.hxrzzz-level-7 {

    background-position: -30px -113px;

}

.hxrzzz-level-8 {

    background-position: -30px -153px;

}

.hxrzzz-level-9 {

    background-position: -30px -178px;

}

.hxrzzz-level-10 {

    background-position: -30px -193px;

    width: 40px;

}

.hxfwtd {

    background-position: -30px -212px;

}

.icon-search {

    background-position: -30px 14px;

    width: 45px;

    height: 45px;

}

.icon-sm-search {

    background-position: -184px -96px;

    width: 43px;

    height: 43px;

}

.icon-close {

    background-position: -107px 0px;

}

.icon-menu {

    background-position: -1px 5px;

    width: 30px;

    height: 30px;

}

.icon-bubble {

    width: 15px;

    height: 14px;

    background-position: -164px -2px;

}

.icon-goTo {

    width: 35px;

    height: 35px;

    background-position: -67px 3px;

}

.icon-md{

    width: 33px;

    height: 34px;

}

.icon-comments {

    background-position: 0px -33px;

}

.icon-md-praise {

    background-position: -119px -33px;

}

.icon-md-praise.active {

    background-position: -39px -32px;

}

.icon-big-praise {

    background-position: -188px -3px;

    margin-top: 14px;

    width: 23px;

    height: 25px;

}

.icon-collection {

    background-position: -158px -32px;

}

.icon-collection.active {

    background-position: -78px -32px;

}

.icon-share {

    background-position: -198px -33px;

}

.icon-history {

    background-position: -214px -262px;

}

.icon-wx {

    width: 30px;

    height: 25px;

    background-position: 0px -78px;

}

.icon-timeLine {

    width: 30px;

    height: 25px;

    background-position: -50px -78px;

}

.icon-wb {

    width: 30px;

    height: 25px;

    background-position: -100px -78px;

}

.icon-qq {

	display: inline-block;

    vertical-align: text-bottom;

    background: url(../images/icon.png) no-repeat;

    cursor: pointer;

    background-size: 250px 300px;

	

    width: 30px;

    height: 25px;

    background-position: -145px -79px;

}

.icon-qqZone {

    width: 30px;

    height: 25px;

    background-position: -185px -79px;

}

.icon-pl-praise {

    background-position: -31px -193px;

}

.icon-pl-praise.active {

    background-position: -62px -133px;

}

.icon-pl-step {

    background-position: -94px -112px;

}

.icon-pl-step.active {

    background-position: -93px -132px;

}

.icon-down {

    background-position: -91px -153px;

}

.icon-up {

    background-position: -62px -150px;

}

.icon-white-close {

    background-position: -110px 0;

    width: 30px;

    height: 30px;

}

.icon-warning {

    background-position: -130px -110px;

    width: 20px;

    height: 20px;

    position: relative;

    top: 3px;

    margin-right: 10px;

}

.icon-time{

    background-position: -134px -147px;

}

.icon-lianjie{

	width: 20px;

    height: 20px;

    background-position: -131px -203px;

}

.icon-address{

    background-position: -168px -147px;

}

.icon-big-time{

    background-position: -62px -206px;

}

.icon-big-address{

    background-position: -98px -206px;

}

.icon-big-fare{

    background-position: -132px -207px;

}

.icon-sub{

    background-position: -231px -71px;

    width: 18px;height: 18px;

}

.icon-add{

    background-position: -231px -101px;

    width: 18px;height: 18px;

}

.icon-shut{

    background-position: 20px -234px;

    width: 48px;height: 28px;

}

.icon-right{

    right: 0;

    background-position: -165px -205.5px;

}

.i-right{

    position: absolute;

    right: 0;

    top: 20px;

    background-position: -165px -209px;

}

.icon-big{

    position: relative;

    top: -2px;

    width: 16px;

    height: 17px;

}

.icon-zf{

    position: relative;

    top: 3px;

    margin-right: 10px;

    width: 26px;height: 26px;

}

.icon-success{

    width: 36px;height: 36px;

    background-position: -2px -261px;

}

.icon-sm-success{

    width: 25px;height: 25px;

    background-position: -59px -266px;

}

.icon-order{

    background-position: -62px -235px;

    margin-right: 10px;

}

.icon-zfb{

    background-position: -222px -142px;

}

.icon-sm-wx{

    background-position: -192px -142px;

}

.icon-radio{

    width: 18px;height: 18px;

    background-position: -196px -211px;

}

.ticket-disabled .icon-zfb{

    background-position: -222px -172px;

}

.ticket-disabled .icon-sm-wx{

     background-position: -192px -172px;

}

.ticket-disabled .icon-radio{

     background-position: -226px -211px;

}

.icon-radio.disabled{

    background-position: -226px -211px;

}

.list-content {

    width: 100%;

    overflow: hidden;

	/*padding-top:45px;*/

}

/*文章*/

.article-big-box {

    position: relative;

    height: 180px;

    width: 100%;

    overflow: hidden;

}

.article-big-box img {

    width: 100%;

}

.shuffling-box {

    height: 106px;

    display: none;

    width: 100%;

    transition-duration: 0.5s;

    transform: translate3d(-100%, 0px, 0px);

    -webkit-overflow-scrolling: touch;

}

.shuffling-box li {

    float: left;

}

.shuffling-ol {

    position: absolute;

    font-size: 10px;

    color: #fff;

    z-index: 10;

    padding: 0;

    margin: 0 auto;

    text-align: center;

    display: none;

    top: 15.2rem;

    left: 50%;

}

.shuffling-ol.ol-list {

    top: 6.6%;

    height: .2rem;

    font-size: 0;

}

.shuffling-ol.ol-list li {

    margin-right: .45rem;

}

.shuffling-ol li {

    list-style: none;

    width: 8px;

    height: 8px;

    background: rgba(255, 255, 255, 0.3);

    border-radius: 8px;

    margin-right: 5px;

    display: inline-block;

}

.shuffling-ol li:last-child {

    margin-right: 0;

}

.shuffling-ol li.active {

    background: #0da3fa;

	/*background: #fff;*/

}

.article-big-title-box {

    position: absolute;

    background: -webkit-gradient(linear,0 0,0 100%,from(rgba(48,48,48,0)),to(rgba(48,48,48,.5)));

    left: 0;

    right: 0;

    top: 0;

    bottom: 0;

}

.article-title, .head-article-title {

    position: absolute;

    padding: 0 .75rem;

    color: #fff;

    font-size: 1rem;

    line-height: 1.2rem;

    margin: 0;

    width: 100%;

    bottom: 2.0rem;

}

.article-title {

    padding: 0 28px;

    color: #ffffff;

    font-size: 21px;

    line-height: 1.5;

    margin: 0px;

    vertical-align: middle;

    display: table-cell;

    text-align: center;

    width: 100%;

    height: 180px;

}

.article-feed-ul-story-box {

    position: relative;

    padding: 15px 0px 0 0px;

    background: #ffffff;

}

.article-feed-ul-story-box .title {

    font-size: 18px;

    margin: 0 15px;

}

.article-feed-ul-story-box .span-mark-two {

    margin: -19px 0 0 0px;

}

.span-mark-two {

    display: inline-block;

    background-color: #f63756;

    position: absolute;

    z-index: 1;

    height: 16px;

    line-height: 1;

    margin: -18px 0 0 -15px;

    width: 5px;

}

.article-feed-ul {

    padding: 0 15px;

    margin: 0;

    background: #ffffff;

    list-style: none;

}

.article-feed-ul li {

    /*border-bottom: 1px solid #f0f0f0;*/

    display: inline-block;

    width: 100%;

    position: relative;

    border-bottom: 1px solid #f0f0f0;

    padding: 0 0 15px 0;

    min-height: 100px;

    font-size: 0;

    vertical-align: top;

}

.article-feed-ul li:last-child {

    border: none;

}

.article-feed-ul li.article-big-image-box {

    height: auto;

    padding: 15px 0;

}

.article-md-img-box {

    float: left;

    width: 124px;

    height: 70px;

    margin-top: 15px;

    overflow: hidden;

    position: relative;

    z-index: 10;

}

.article-md-img-box a{

    font-size: 0;

    display: inline-block;

}

.article-md-img-box img {

    width: 100%;

}

.article-feed-ul li.article-big-image-box .article-md-img-box {

    width: 100%;

    float: none;

    margin-top: 0px;

    overflow: hidden;

    height: auto;

}

.article-feed-ul li img.article-big-image-box img.article-md-img-box img {

    width: 100%;

}

.article-info-box {

    position: absolute;

    margin-top: 15px;

    padding-left: 136px;

    font-size: 15px;

    line-height: 24px;

    color: #333333;

    height: 76px;

    width: 100%;

}

.article-feed-ul li.article-big-image-box .article-info-box {

    position: relative;

    padding-left: 0;

    height: auto;

}

.article-feed-ul li.article-big-image-box .article-info-box .article-md-title {

    height: auto;

}

.article-feed-ul li.article-big-image-box .article-info-box .author-box{

    position: relative;

    height: auto;

    margin-top: 10px;

}

.article-info-box .author-box {

    bottom: -2px;

    font-size: 12px;

    color: #bbbbbb;

    margin-top: 5px;

    position: absolute;

    /*margin-left: 140px;*/

    white-space: nowrap;

}

.article-info-box .article-md-title {

    height: 50px;

    overflow: hidden;

}

.article-info-box .article-md-title.activity{

    height: 70px;

}

.article-info-box .author-box.hot-article {

    margin-left: 0;

}

.article-info-box .author-box span {

    margin-right: 5px;

}

.article-info-box .author-box span:last-child {

    margin-right: 0;

}

.article-info-box .author-box .face-box {

    float: left;

    position: relative;

    border-radius: 13px;

    width: 26px;

    height: 26px;

    overflow: hidden;

    margin-right: 10px;

}

.article-info-box .author-box .face-box img {

    width: 100%;

}

.article-info-box .author-box span:last-child {

    margin-right: 0px;

}

.mod-hot {

    margin-right: 0px;

    position: absolute;

    right: 0px;

    bottom: 15px;

    padding: 0 5px;

    height: 17px;

    line-height: 17px;

    font-size: 11px;

    color: #ffffff;

    background: #f63756;

    text-align: center;

}

.mod-hot.bottom {

    bottom: 0px;

}

.mod-hot.ad1 {

    background: #f1754f;

}

.mod-hot.ad2 {

    background: #3CA5F6;

}

.story-box {

    position: relative;

    padding: 15px 0px 0 0px;

    background: #ffffff;

}

.story-box .title {

    font-size: 18px;

    margin: 0 15px;

}

.span-mark {

    display: inline-block;

    background-color: #f63756;

    position: absolute;

    z-index: 1;

    height: 16px;

    line-height: 1;

    margin: -18px 0 0 -15px;

    width: 5px;

}

.story-box .span-mark {

    margin: -19px 0 0 0px;

}

.story-box ul li {

    position: relative;

    padding: 15px;

    border-bottom: 1px solid #f0f0f0;

}

.story-box ul li.active {

    background: #F6F6F6;

}

.story-box ul li:last-child {

    border: none;

}

.story-box ul li.active .story-praise {

    display: block;

}

.story-box ul li .story-title {

    font-size: 15px;

    color: #333333;

    line-height: 2;

    cursor: pointer;

}

.story-box ul li .info {

    font-size: 14px;

    line-height: 1.5;

    color: #5a5a5a;

    margin-top: 10px;

    display: none;

    background: #F6F6F6;

    cursor: pointer;

}

.story-box ul li .info a {

    color: #bbb;

    font-size: 12px;

    line-height: 12px;

}

.story-box ul li .time {

    font-size: 12px;

    color: #bbb;

    margin-top: 5px;

}

.story-box ul li .story-arrow {

    position: relative;

    top: 13px;

    width: 2px;

    height: 0;

    left: 5px;

    border-left: 5px solid transparent;

    border-right: 5px solid transparent;

    border-top: 6px solid #dddddd;

}

.story-box ul li.active .info {

    display: block;

}

.story-box ul li.active .story-arrow {

    border-top: none;

    border-bottom: 6px solid #dddddd;

    top: -12px;

}

.bottom-more {

    border-top: 1px solid #f0f0f0;

    height: 42px;

    text-align: center;

    font-size: 14px;

    line-height: 42px;

    color: #bbbbbb;

    cursor: pointer;

    background: #ffffff;

}

.bottom-more.bg1 {

    background: #f5f5f5;

}

.bottom-more .loading-img {

    width: 30px;

    height: 30px;

    margin-top: 5px;

}

.ad-box2 {

    position: relative;

    padding: 15px;

    overflow: hidden;

    background: #ffffff;

}

.ad-box2 img {

    width: 100%;

}

.ad-article-top {

    position: relative;

    overflow: hidden;

}

.ad-article-top, .ad-article-top img {

    width: 100%;

    display: block;

}

.ad-article-top.ad-article-content {

    padding: 0 15px;

    background: #FFFFFF;

}

.ad-article-content img {

    width: 100%;

}

.ad-article-content .mod-hot {

    right: 15px;

    bottom: 0px;

}

.ad-title-box {

    position: absolute;

    width: 100%;

    z-index: 2;

    background: rgba(0, 0, 0, 0.5);

    font-size: 21px;

    line-height: 1;

    color: #ffffff;

}

/*//TODO:要修改*/

.ad-title {

    padding: 0 25px;

    vertical-align: middle;

    display: table-cell;

    height: 216px;

    width: 100%;

    text-align: center;

}

.ad-box2 .mod-angle, .article-title .mod-angle {

    padding: 0 10px;

    height: 21px;

    border: 1px solid #ffffff;

    font-size: 14px;

    text-align: center;

    line-height: 21px;

    display: inline-block;

    position: relative;

    border-radius: 3px;

    top: -2px;

    margin-right: 5px;

}

.ad-box2 .mod-angle.ad1 {

    background: #f1754f;

}

.ad-box2 .mod-angle.ad2 {

    background: #3CA5F6;

}

.ad-footer-box {

    position: relative;

    width: 100%;

}

.ad-footer-box img {

    width: 100%;

    display: block !important;

}

/*回到顶部 反馈*/

.mod-sidebar {

    position: fixed;

    right: 10px;

    bottom: 75px;

    z-index: 500;

}

.mod-sidebar .goTo {

    width: 35px;

    height: 35px;

    border-radius: 35px;

    background: rgba(0, 0, 0, 0.6);

    margin-top: 10px;

    font-size: 12px;

    line-height: 35px;

    text-align: center;

    color: #ffffff;

    cursor: pointer;

    display: none;

}

/*/footer*/

footer {

    height: 7.5rem;

    width: 100%;

    background: #f5f5f5;

    text-align: center;

    color: #bbbbbb;

}

footer ul {

    margin:2.4rem  auto 0.5rem auto;

    display: inline-block;

}

footer ul li {

    width: 3.5rem;

    float: left;

    font-size: 0.7rem;

    line-height: 1;

    border-right: 1px solid #bbbbbb;

}

footer ul li:last-child {

    border: none;

}

footer ul li a {

    color: #bbbbbb;

}

footer .copyright-box {

    font-size: 0.6rem;

}

/*文章内容页*/

.article-content-title-box {

    padding: 0 15px;

	padding-top:15px;

    background: #FFFFFF;

}

.article-content-title-box .title {

    font-size: 24px;

    font-weight: bold;

    line-height: 30px;

    padding-top: 10px;

}

.article-author-box {

    height: 63px;

    line-height: 62px;

}

.article-author-box .face-box {

    position: relative;

    top: 12px;

    float: left;

}

.article-author-box span {

    margin-right: 10px;

    color: #bbbbbb;

    font-size: 12px;

}

.article-author-box span.usertag-members {

     /*display: inline-block;

    float: left; */

    padding: 3px;

    height: 18px;

    line-height: 18px;

    font-size: 13px;

    border-radius: 2px;

    margin-right: 7px;

    color: #fff;

    background: #515050;

}

.article-author-box .face-box img {

    width: 36px;

    height: 36px;

    border-radius: 36px;

    overflow: hidden;

}

.text-hxzhu{

    color: #6d99b8;

}

.text-remarks {

    color: #bbbbbb;

}

.article-content-img {

    width: 100%;

}

.article-content-img img {

    width: 100%;

    display: block;

}

.article-content {

    padding: 10px 15px 0 15px;

    background: #ffffff;

    font-size: 16px;

    line-height: 2.0;

    width: 100%;

    word-wrap: break-word;

    text-indent:2em;

    text-align:justify;

    color: #606060;

}

.article-content img {

	display:block; 

	margin:0 auto;

    max-width: 100%;

    height: auto !important;

}

.article-content sup {

    font-size: 18px;

    line-height: 1.5;

}

/*.article-content p {

    padding: 0px;

    margin: 0px;

    font-size: 16px;

    line-height: 1.7;

    word-wrap: break-word;

}*/

.article-content p iframe {

    max-width: 100%;

    height: auto;

}

.article-content blockquote {

    padding: 0px;

    margin: 0px;

    border-left: 3px solid #dddddd;

    padding-left: 15px;

    color: #555555;

     word-break: break-all;

}

.neirong-shouquan {

    font-size: 13px;

}

.article-content p .text-remarks {

    color: #999999;

}

.article-content .img-center-box {

    text-align: center;

}

.text-big-title {

    font-size: 21px;

}

.text-big-title, .text-sm-title {

    font-weight: 700;

    color: #a41d1d;

}

.praise-wrap {

    background: #ffffff;

    padding: 10px 0 40px 0;

}

.praise-box {

    position: relative;

    margin: 0px auto;

    width: 50px;

    height: 50px;

    border-radius: 25px;

    background: #f63756;

    text-align: center;

    line-height: 50px;

    cursor: pointer;

}

.praise-box .number {

    position: absolute;

    width: 50px;

    text-align: center;

    margin-left: -13px;

    font-size: 14px;

    margin-top: 42px;

    color: #dddddd;

}

.praise-box.active {

    border-radius: 100px;

    background: #ffffff;

    border: 2px solid #f0f0f0;

}

.praise-box.active .icon-big-praise {

    width: 23px;

    height: 20px;

    background-position: -43px -40px;

}

.nopraise-box {

    position: relative;

    margin: 0px auto;

    width: 50px;

    height: 50px;

    border-radius: 25px;

    background: #966C3A;

    text-align: center;

    line-height: 50px;

    cursor: pointer;

}

.nopraise-box .number {

    position: absolute;

    width: 50px;

    text-align: center;

    margin-left: -13px;

    font-size: 14px;

    margin-top: 42px;

    color: #dddddd;

}

.nopraise-box.active {

    border-radius: 100px;

    background: #ffffff;

    border: 2px solid #f0f0f0;

}

.nopraise-box.active .icon-big-nopraise {

    width: 23px;

    height: 20px;

    background-position: -43px -40px;

}

.share-wrap {

    position: absolute;

    text-align: center;

    bottom: 40px;

    width: 100%;

}

.share-box {

    text-align: center;

    font-size: 13px;

    color: #bbbbbb;

    padding-bottom: 35px;

    padding-top: 10px;

}

.wx-share-box {

    background: #ffffff;

}

.share-box .title {

    position: relative;

    margin: 0px auto 30px auto;

    width: 210px;

    border-top: 1px solid #f0f0f0;

}

.share-box .title span {

    background: #ffffff;

    position: absolute;

    width: 50px;

    left: 50%;

    margin-left: -25px;

    margin-top: -9px;

}

.share-box .share-ul li {

    width: 105px;

    display: inline-block;

    text-align: center;

    margin-bottom: 15px;

    cursor: pointer;

}

.share-box .share-ul li a {

    display: inline-block;

    width: 50px;

    height: 50px;

    border-radius: 50px;

}

.share-box .share-ul li a i {

    margin-top: 13px;

}

.share-box .share-ul li:nth-child(1) a {

    background: #1dc353;

}

.share-box .share-ul li:nth-child(2) a {

    background: #1dc353;

}

.share-box .share-ul li:nth-child(3) a {

    background: #f74964;

}

.share-box .share-ul li:nth-child(4) a {

    background: #2da3f6;

}

.share-box .share-ul li:nth-child(5) a {

    background: #ffce00;

}

.exceptional-box {

    text-align: center;

    padding: 20px 0;

    background: #ffffff;

    display: none;

    -webkit-box-sizing: inherit;

    box-sizing: inherit;

}

.pl-number {

    position: absolute;

    font-size: 10px;

    background: #f63756;

    color: #ffffff;

    height: 12px;

    border-radius: 11px;

    vertical-align: middle;

    display: inline-block;

    font-style: normal;

    right: -2px;

    top: 1px;

    line-height: 15px;

    padding: 0px 4px;

}

.exceptional-box .name {

    font-size: 15px;

    color: #bbbbbb;

}

.exceptional-box .name span {

    color: #3ca5f6;

}

.exceptional-box .info {

    font-size: 12px;

    color: #999999;

    text-align: center;

    width: 100%;

}

.exceptional-box .qr-box {

    margin: 15px auto;

    z-index: 100;

    width: 100%;

}

.exceptional-box .qr-box img {

    width: 110px;

    -webkit-box-sizing: inherit;

    box-sizing: inherit;

}

.article-box {

    width: 100%;

}

.article-box a {

    text-decoration: none;

    border-bottom: 1px solid #333;

    padding-bottom: 2px;

    color: #333;

    word-break: break-all;

}

.article-box a font {

    color: #333;

}

.btn-group {

    position: fixed;

    width: 100%;

    height: 49px;

    border-top: 1px solid #dfdfdf;

    background: rgba(255, 255, 255, 0.96);

    z-index: 100;

    bottom: 0px;

    max-width: 640px;

}

.btn-group ul li {

    width: 33%;

    text-align: center;

    float: left;

    height: 49px;

    line-height: 49px;

    cursor: pointer;

}

.btn-group ul li i {

    position: relative;

    top: 6px;

}

.pl-wrap, .recommended-box {

    position: relative;

    padding: 25px 15px 0 15px;

    background: #ffffff;

}

.pl-wrap .title, .recommended-box .title {

    font-size: 18px;

    margin: 0px;

    font-weight: normal;

}

.pl-wrap .face-box {

    position: absolute;

    margin-left: -35px;

}

.pl-wrap .face-box img {

    width: 25px;

    height: 25px;

    overflow: hidden;

    border-radius: 25px;

}

.pl-wrap .pl-info {

    position: relative;

    font-size: 12px;

}

.pl-wrap .pl-info .title {

    font-size: 16px;

    color: #333333;

    margin-top: 17px;

    line-height: 21px;

    word-wrap: break-word;

}

.pl-wrap .pl-info .name {

    margin-top: 8px;

}

.pl-wrap .pl-info .time {

    display: inline-block;

    margin-top: 20px;

    color: #bbb;

}

.pl-wrap .pl-info .hf-pl {

    margin-top: 20px;

    cursor: pointer;

    padding: 0 15px;

    margin-right: -15px;

    color: #3CA5F6;

}

.pl-wrap .pl-info .praise {

    position: absolute;

    right: 0;

}

.pl-list-box .pl-info .praise {

    top: -4px;

}

.pl-wrap .pl-info .praise span {

    position: relative;

    margin-left: 10px;

    cursor: pointer;

    height: 25px;

    display: inline-block;

}

.pl-wrap .pl-info .praise span em {

    font-style: normal;

    margin-left: 2px;

    position: relative;

    top: -2px;

}

.pl-wrap .pl-ul-box li {

    position: relative;

    padding: 15px 0 20px 0;

    border-bottom: 1px solid #f0f0f0;

    margin-left: 35px;

}

.pl-footer-box {

    height: 49px;

}

.pl-wrap .pl-ul-box li:after, .story-box ul li:after, .article-feed-ul li:after, .search-feed-ul li:after {

    content: '';

    width: 15px;

    height: 1px;

    background: #f0f0f0;

    position: absolute;

    right: -15px;

    bottom: -1px;

}

.pl-wrap .pl-ul-box li:last-child:after, .story-box ul li:last-child:after, .article-feed-ul li:last-child:after {

    height: 0px;

}

.pl-wrap .pl-ul-box li:last-child {

    border: none;

}

.pl-list-box {

    padding: 5px 15px 0 15px;

}

.pl-list-box .pl-info .name a {

    color: #bbbbbb;

}

.pl-list-title {

    background: #FFFFFF;

}

.pl-list-title ul {

    height: 44px;

    border-bottom: 1px solid #f0f0f0;

    text-align: center;

}

.pl-list-title ul li {

    height: 44px;

    text-align: center;

    width:25%;

    display: inline-block;

}

.pl-list-title ul li.active a {

    color: #000000;

    border-bottom: 2px solid #000000;

}

.pl-list-title ul li a {

    font-size: 16px;

    color: #bbbbbb;

    display: inline-block;

    line-height: 42px;

}

.dp-wrap-title {

    font-size: 14px;

    margin-bottom: 15px;

    margin-top: 10px;

}

.dp-wrap {

    background: #f5f5f5;

    padding: 0 15px;

}

.dp-wrap .dp-box {

    display: none;

    border-bottom: 1px solid #eeeeee;

}

.dp-wrap .dp-box .time, .dp-wrap .dp-box .hf-pl {

    margin-top: 0;

    margin-right: -15px;

}

.dp-wrap .dp-box:first-child {

    display: block;

}

.bottom-more-pl {

    border: none;

    display: inline-block;

    width: 100%;

}

.dp-box {

    padding: 15px 0

}

.dp-box .face-box {

    margin-left: 0px;

}

.dp-box .pl-info .name {

    margin-top: 0px;

    position: relative;

    margin-left: 35px;

    top: 8px;

}

.dp-box .pl-content {

    margin-top: 27px;

    font-size: 14px;

    line-height: 19px;

    word-wrap: break-word;

}

.dp-box .pl-content .user-name {

    color: #3CA5F6;

}

.recommended-box .article-feed-ul {

    padding: 0;

}

.pl-form-box {

    position: fixed;

    top: 0;

    height: 100%;

    background: #ffffff;

    z-index: 1200;

    width: 100%;

    display: none;

    max-width: 640px;

    left: 0px;

    right: 0px;

    bottom: 0px;

    margin: 0 auto;

}

.pl-form-box .title {

    height: 41px;

    border-bottom: 1px solid #dddddd;

    padding: 0 15px;

    font-size: 17px;

    line-height: 41px;

    text-align: center;

}

.pl-form-box .title a:last-child {

    color: #3CA5F6;

}

.pl-textarea-box {

    padding: 15px;

}

.recommended-box.related-box .article-feed-ul .article-info-box .article-md-title {

    margin-left: 0;

}

.next-article-box {

    background: #FFFFFF;

    padding: 15px 0;

}

.next-article-box .next-title {

    color: #999999;

    font-size: 12px;

    margin-left: 15px;

    margin-bottom: 10px;

}

.next-article-box .article-feed-ul li {

    background: #f5f5f5;

    margin-left: 0px;

    padding: 0 15px;

}

.next-article-box .article-feed-ul li .article-info-box {

    margin-right: 15px;

    padding-left: 0;

    width: auto;

}

.next-article-box .article-feed-ul li .article-info-box .article-md-title {

    padding-left: 0;

}

.search-feed-ul li {

    position: relative;

    padding: 15px 0;

    border-bottom: 1px solid #f0f0f0;

}

.search-feed-ul li:last-child {

    border: none;

}

.search-feed-ul li .author-face {

    width: 41px;

    height: 41px;

    overflow: hidden;

    border-radius: 41px;

    position: absolute;

}

.search-feed-ul li .author-info {

    margin-left: 50px;

    min-height: 40px;

}

.search-article li {

    padding: 20px 0;

}

.search-article li .author-info {

    margin-left: 0;

}

.search-feed-ul li .author-info .name {

    font-size: 16px;

    line-height: 1.5;

}

.search-feed-ul li .author-info .info {

    color: #bbbbbb;

    font-size: 14px;

    line-height: 1.5;

    margin-top: 5px;

}

.search-feed-ul li .author-info .info em {

    font-style: normal;

    color: #f63756;

}

.search-feed-ul li .author-info .name em {

    color: #f63756;

    font-style: normal;

}

.search-feed-ul li .time {

    color: #bbbbbb;

    font-size: 12px;

    margin-top: 10px;

}

.search-feed-ul li .time span {

    margin-right: 15px;

}

.search-feed-ul li .author-face img {

    width: 100%;

}

.no-content-box {

    background: #f5f5f5;

    color: #999999;

    font-size: 15px;

    text-align: center;

    padding: 175px 0;

}

.no-content-box .title {

    line-height: 20px;

}

.nums{

    position: absolute;

    top: 10px;

    font-style: normal;

    color: #fff;

    background-color: #f63756;

    border-radius: 50px;

    width: 6px;

    height: 6px;

    padding: 0;

    left: 34px;

    z-index: 10;

    display:none;

}

.nums-nav{

    position: absolute;

    top: 0.45rem;

    font-style: normal;

    color: #fff;

    background-color: #f63756;

    border-radius: 50px;

    width: 6px;

    height: 6px;

    padding: 0;

    left: 1.4rem;

    z-index: 10;

    display: none;

}

.nums-nav-active{

    left: 3.4rem;

}

.footer-btn-content{

    position: fixed;

    height: 49px;

    border-top: 1px solid #dddddd;

    background: rgba(249, 249, 249, 0.95);

    bottom: 0px;

    z-index: 100;

    width: 100%;

    max-width: 640px;

}

.footer-btn-content .input-from{

    float: left;

}

.footer-btn-content .input-from input{

    width: 100%;

    z-index: 10;

}

.footer-btn-content .footer-icon-group{

    position: absolute;

    margin-top: 7px;

    right: 0px;

    text-align: right;

    z-index: 1;

}

.footer-btn-content .footer-icon-group i{

    margin-right: 15px;

}

.footer-input-from{

    float: left;

    width: 100%;

    padding: 7px 115px 0 15px;

    z-index: 10;

}

.footer-one-input-from{

    padding: 7px 60px 0 15px;

}

.footer-input-from input{

    border: 1px solid #F0F0F0;

    width: 100%;

    height: 33px;

    border-radius: 33px;

    padding-left: 10px;

    font-size: 15px;

    z-index: 1;

}

.footer-input-from .input-box{

    border: 1px solid #F0F0F0;

    width: 100%;

    height: 33px;

    border-radius: 33px;

    padding-left: 10px;

    font-size: 15px;

    z-index: 1;

    background: #FFFFFF;

    color: #bbbbbb;

    cursor: pointer;

    line-height: 33px;

}

@keyframes fadeRotateRight {

    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(45deg);

    }

}

@-webkit-keyframes fadeRotateRight {

    0% {

        -webkit-transform: rotate(0deg);

    }

    100% {

        -webkit-transform: rotate(45deg);

    }

}

@keyframes fadeRotateLeft {

    0% {

        transform: rotate(0deg);

    }

    100% {

        transform: rotate(-45deg);

    }

}

@-webkit-keyframes fadeRotateLeft {

    0% {

        -webkit-transform: rotate(0deg);

    }

    100% {

        -webkit-transform: rotate(-45deg);

    }

}

@media screen and (min-width: 320px) {

    .article-box a.videoA{

        width: 290px;

        height: 160px;

    }

}

@media screen and (min-width: 321px) and (max-width: 375px) {

    .swipe-wrap, .article-big-box, .article-title {

    }

    .article-box a.videoA{

        width: 290px;

        height: 160px;

    }

}

@media screen and (min-width: 376px) {

    .swipe-wrap, .article-big-box, .article-title {

    }

    .article-box a.videoA{

        width: 346px;

        height: 194px;

    }

}

/*

.bgw{

    background: #fff;

}*/

.rec-index-box{

    background: #f5f5f5;

    padding: 15px 15px 13px 15px;

    font-size: 14px;

    line-height: 21px;

    margin-bottom: -5px;

    margin-top: 15px;

}

.rec-index-big-box{

    margin-top: 0;

    margin-bottom: 10px;

}

.rec-tag{

    padding: 0 5px;

    color: #f63756;

    border: 1px solid #f63756;

    border-radius: 4px;

    font-size: 14px;

    height: 20px;

    line-height: 18px;

    display: inline-block;

}

.rec-index-box .quot{

    font-size: 20px;

    color: #333;

    font-weight: bold;

    font-style: normal;

}

.rec-article-box{

    position: relative;

    display: inline-block;

    width: 100%;

    border-top:1.5px solid #333;

    border-bottom:1.5px solid #333;

    padding: 15px 0 10px 0;

    color: #333;

    background: #fff;

    margin-bottom: 15px;

}

.rec-article-box p{

    font-size: 14px;

    line-height: 21px;

    margin: 10px 0;

}

.rec-article-box .name{

    font-size: 15px;

    font-weight: bold;

}

.rec-article-box .quot{

    font-size: 20px;

    font-weight: bold;

    font-style: normal;

}

.rec-article-box .form{

    font-size: 12px;

    color: #999;

    margin-top: 10px;

}

.rec-article-box .form a{

    color: #999;

    border-bottom: 1px solid #999;

}

.article-box a.rec-link{

    display: inline-block;

    font-size: 14px;

    border: none;

    color: #bbb;

    margin-top: 25px;

    margin-bottom: 15px;

}

/*分享*/

.mshare { width: 100%;text-align: center;}

.mshare li{ 

width: 80px;

display: inline-block;

}

.mshare li a {

display: inline-block;

    width: 50px;

    height: 50px;

    border-radius: 50px;

	}

.mshare a.msharea1 { background: url(../images/qzone.png) no-repeat center #FFCE00;}

.mshare a.msharea2 { background: url(../images/wb.png) no-repeat center #f74964;}

.mshare a.msharea3 { background: url(../images/qqwb.png) no-repeat center #167FA6;}

.mshare a.msharea4 { background: url(../images/pyq.png) no-repeat center #f74964;}

.mshare a.msharea5 { background: url(../images/wxhy.png) no-repeat center #f74964;}

.mshare a.msharea6 { background: url(../images/qqhy.png) no-repeat center #f74964;}

/*顶踩*/

.personal-point, .hot-comments, .relative-news {

	background-color:#fff;

}

.show-point {

    padding: 20px 0;

}

.show-point, .show-comments, .news-list {

    position: relative;

    clear: both;

    padding: 2px 0;

}

.show-point a.praise {

    right: 56%;

	border:solid 1px #E0E0E0;

}

@media screen and (min-width: 400px){

.show-point a {

    height: 35px;

    font-size: 13px;

    width: 150px;

    background-size: 150px 35px;

}

.show-point a {

    display: inline-block;

    width: 130px;

    height: 31px;

    color: #333;

    position: absolute;

    text-align: center;

    border-radius: 2px;

    font-size: 12px;

    background: #fff no-repeat 0 0;

}

.personal-point .praise-portation {

    width: 16.666666666666664px;

    height: 17.333333333333336px;

    overflow: hidden;

    display: inline-block;

    background-image: url(../images/d.png);

    background-repeat: no-repeat;

}

.show-point .img {

    width: 15px;

    height: 16px;

    display: inline-block;

    margin-right: 5px;

    vertical-align: text-top;

}

@media screen and (min-width: 400px){

.show-point .down, .show-point .up {

    line-height: 35px;

}

.show-point .down, .show-point .up {

    line-height: 31px;

}

@media screen and (min-width: 400px){

.personal-point .up b, .personal-point .down b {

    font-size: 11px;

}

.personal-point 

.up b, .personal-point .down b {

    font-size: 10px;

    color: #999;

    font-weight: normal;

    margin-left: 4px;

}

@media screen and (min-width: 400px){

.show-point span.vs {

    font-size: 12px;

}

.show-point span.vs {

    display: inline-block;

    width: 100%;

    text-align: center;

    height: 30px;

    font-size: 9px;

    line-height: 31px;

    color: #333;

}

/*顶踩右边*/

.show-point a.stamp {

    left: 56%;

	border:solid 1px #E0E0E0;

}

@media screen and (min-width: 400px){

.show-point a {

    height: 35px;

    font-size: 13px;

    width: 150px;

    background-size: 150px 35px;

}

.personal-point .stamp-portation {

    width: 16.666666666666664px;

    height: 17.333333333333336px;

    overflow: hidden;

    display: inline-block;

    background-image: url(../images/c.png);

    background-repeat: no-repeat;

}

.show-point .img {

    width: 15px;

    height: 16px;

    display: inline-block;

    margin-right: 5px;

    vertical-align: text-top;

}

/*  各地医院弹出  */

.nav-warp {

    height: 40px;

    background-color: #fafafa;

    border-bottom: 1px solid #f0f0f0;

	z-index: 11;

}

ol, ul {

/* list-style: none; */

}

.nav-warp ul li {

    padding-top: 11px;

    font-size: 12px;

    height: 40px;

    line-height: 20px;

    width: 33%;

    float: left;

    text-align: center;

    cursor: pointer;

}

.nav-warp ul li span {

    display: inherit;

    border-right: 1px solid #f0f0f0;

}

.icon-cy-caret.active {

    background-position: -22px 4px;

}

.icon-cy-caret {

    background-position: -2px 4px;

}

.icon-cy {

    display: inline-block;

    vertical-align: text-bottom;

    background-image: url(../images/icon-cy.png);

    background-repeat: no-repeat;

    width: 15px;

    height: 15px;

    background-size: 150px 150px;

    cursor: pointer;

}

.nav-warp ul li:last-child span {

    border: none;

}

.cy-tag-warp.active {

    display: block;

}

.cy-tag-warp {

    position: absolute;

    background-color: rgba(0, 0, 0, 0.48);

    width: 100%;

    height: 100%;

    display: none;

    z-index: 11;

}

.cy-tag-list.active {

    transform: rotateY(0deg);

    -webkit-transform: rotateY(0deg);

    animation: myfirst 0.5s;

    -webkit-animation: myfirst 0.5s;

}

.cy-tag-list {

    height: 200px;

    overflow: auto;

    background-color: #fff;

    padding: 20px 20px 0 20px;

    transform: rotateY(90deg);

    -webkit-transform: rotateY(90deg);

}

ol, ul {

    list-style: none;

}

element.style {

    width: 30%;

}

.cy-tag-list ul li.active {

    color: #fff;

    background-color: #3ca5f6;

    border-color: #3ca5f6;

}

.cy-tag-list ul li.active a {

    color: #fff;

}

.cy-tag-list ul li {

    border: 1px solid #f0f0f0;

    float: left;

    width: 78px;

    margin-right: 10px;

    margin-bottom: 20px;

    text-align: center;

    font-size: 10px;

    height: 25px;

    line-height: 25px;

    cursor: pointer;

}

/* 列表页医院性质 */

.zz {

    background-color: #929292;

    border-radius: 2px;

    color: #fff;

    padding: 1px;

    margin-left: 2px;

}

/*各地医院详情页面*/

.houseDesc {

    display: -webkit-box;

    display: flex;

    display: -webkit-flex;

    background: #fff;

    padding-bottom: .46875rem;

    padding-left: .46875rem;

    position: relative;

}

.houseDesc-meta {

    width: 100%;

}

.meta-tit {

    font-weight: 700;

    color: #000;

    line-height: .5625rem;

    padding-top: .46875rem;

    padding-bottom: 10px;

    font-size: 90%;

}

.houseDesc .icon-cx {

	font-size:90%;	

    background-color: #f74964;

    border-radius: 2px;

    color: #fff;

    padding: 3px;

}

.houseDesc .icon-wz {

	font-size:90%;	

    background-color: #848484;

    border-radius: 2px;

    color: #fff;

    padding: 3px;

}

.houseDesc .meta-time {

    width: 100%;

    display: -webkit-box;

    display: flex;

    display: -webkit-flex;

    height: .375rem;

    line-height: .375rem;

    color: #999;

    padding-top:10px;

	font-size: 80%;

}

.houseDesc .meta-time li {

padding: 0 10px 0 0;

}

/*分页*/

.pagination-wrapper{

    border-top: 1px solid #f0f0f0;

    height: 50px;

    text-align: center;

    font-size: 14px;

    line-height: 30px;

    color: #bbbbbb;

    cursor: pointer;

    background: #ffffff;

}

.pagination{

margin:8px 0;

height: 34px;

text-align: center;

}

.pagination li {

display: inline-block;

height: 34px;

margin-right: 5px;

}

.pagination li a{

float: left;

display: block;

height: 32px;

line-height: 32px;

padding: 0 12px;

font-size: 16px;

border: 1px solid #dddddd;

color: #555555;

text-decoration: none;

}

.pagination li a:hover{

background:#f5f5f5;

color:#0099ff;

}

.pagination li.thisclass {

background: #09f;

color: #fff;

}

.pagination li.thisclass a,.pagination li.thisclass a:hover{

background: transparent;

border-color: #09f;

color: #fff;

cursor: default;

}

/*TAG标签*/

.tagc1{

	font-size:14px;

	color:#666;

/*	background-color: #333;*/

}

.tagc2{

	font-size:16px;

	font-weight:bold;

	color:#555;

	background-color: #1dc353;

}

.n_tel {
    width: 5.525rem;
    height: 1.575rem;
    margin-top: 0.7rem;
}

.nav {
    width: 16rem;
    height: 3.525rem;
    margin: 0 auto;
    background: #efedee;
}

.nav ul {
    height: 100%;
}

.nav ul li {
    border-right: 1px solid #cccccc;
    width: 3.9rem;
    background: #eeeeee;
    height: 1.72rem;
    float: left;
    border-bottom: 1px solid #cccccc;
    text-align: center;
    font-size: 0.65rem;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.nj {
    border-bottom: none !important;
}

.vn {
    border-right: none !important;
}

.mk {
    border-left: none !important;
}

.nav ul li a {
    line-height: 1.75rem;
    display: block;
}
.pagelist{
    width:100%;
    background-color:#fff;
    border-top:2px solid #e5e5e5;
    float:left;
    padding:10px;
    float:left;
    margin:10px 0px;
    }
    
    .pagelist a{
    padding:3px 8px;
    float:left;
    background:#2d2d2d;
    border:1px solid #7d7d7d;
    margin:2px;
    color:#ccc;
    }
    .pagelist big{
    padding:3px 8px;
    float:left;
    border:1px solid #e5e5e5;
    margin:2px;
    background:#f5f5f5;
    }

}}}}}

.fanye li{
    float: left;
    list-style: none;
    /* display: block; */
    width: 16.6%;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ccc;
}
.fanye li.thisclass a{
    color: red;
}
.fanye{
    overflow: hidden;
    margin-top: 15px;
}

