.right_list {
  width: 237px;
  height: 645px;
  float: left;
  margin-top: -22px;
  z-index: 2;
  position: absolute; }
  .right_list ul li {
    width: 237px;
    height: 42px;
    background: url(../images/li.jpg);
    color: #666666;
    font-size: 15px;
    text-align: center;
    line-height: 42px;
    position: relative; }
    a:visited {
      color: #666; }
    a:link {
      color: #666; }
    .right_list ul li div {
      position: absolute;
      top: 0;
      left: 32px;
      font-size: 15px;
      text-align: center;
      line-height: 42px;
      width: 173px;
      height: 41px;
      background: #f7ab71;
      margin: 0 auto;
      color: #fff;
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0;
       }
    .right_list ul li:hover span {
      filter: alpha(opacity=0);
      -moz-opacity: 0;
      opacity: 0;
      transition: all .1s ease-in 0s;
      -webkit-transition: all .1s ease-in 0s;
      -moz-transition: all .1s ease-in 0s; }
    .right_list ul li:hover div {
      transition: all .1s ease-in 0s;
      -webkit-transition: all .1s ease-in 0s;
      -moz-transition: all .1s ease-in 0s;
      filter: alpha(opacity=100);
      -moz-opacity: 1;
      opacity: 1;
      font-weight: bold; }