@charset "utf-8";
/* CSS Document */

body{
	margin:0;
}


.divCultureWrapper{
	background-color:#ffc7cf;
}

.divCultureWrapper img{
	width:auto !important;	
}

.divCulture{
	width:990px;
	margin-left:auto;
	margin-right:auto;
	height:1070px;
	padding-top:25px;
	background-color:#e74159;
}

.imgTxtCulture2{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
}

.imgSmall{
	display:block;
	margin-top:35px;
	margin-left:auto;
	margin-right:auto;
}

.divSmallImages{
	width:500px;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
	height:200px;
}

.divSmallImages img{
	float:left;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:20px;
}

.divTxt{
	margin-top:35px;
	width:492px;
	margin-left:auto;
	margin-right:auto;
	line-height:30px;
	font-size:15px;
	background:url(../images/lineBig.jpg) no-repeat;
	padding-left:15px;
	padding-top:15px;
}

.divTxt2{
	
	background:url(../images/lineBigRight.jpg) no-repeat right bottom;
	padding-right:15px;
	width:482px;

	
}

.imgBig{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:35px;
}