@charset "utf-8";
/* CSS Document */

.divTxtEmpWrapper{
	background-color:#000;
}

.divTxtEmpWrapper img{
	width:auto;
}

.divTxtEmp{
	width:990px;
	margin-left:auto;
	margin-right:auto;
	padding-top:30px;
	padding-bottom:30px;
}



.moreMargin{
	margin-top:20px;
}

.imgEmp{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.divA{
		margin-top:30px;
		margin-bottom:30px;
}

.divA a{
	margin-left:50px;
	margin-right:50px;
	font-weight:bold;
	font-size:15px;
}


.divSecurity1Wrapper{
	height:700px;
}

.divSecurity1Wrapper img{
	width:auto;
}


.divSecurity1{
	width:990px;
	margin-left:auto;
	margin-right:auto;
	height:750px;
}

.security1 span{
	font-size:13px;
	line-height:20px;
	color:#999;
	font-weight:100;
	
}

.security1{
	float:left;
	width:210px;
	text-align:center;
	padding-left:60px;
	padding-right:60px;
	font-weight:bold;
	line-height:45px;
}

.imgSecurityBig{
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:70px;
        clear:both;
}


.divSecurity{	
	background-image:none !important;
}



