*{margin:0;padding:0;box-sizing:border-box}

a{text-decoration:none}

img{border:none}

li{list-style:none}

.clear{clear:both}

.container{max-width:480px;margin:0 auto}



body {margin: 0;padding: 0;font-family: "Microsoft YaHei";color: #333;background:#E5E5EA}

#wrapper,.wrapper{width:480px;margin:0 auto;overflow:hidden;color:#333;position:relative}

.wdbox .wdtitle{height:44px;line-height:44px;background:#2E3238;color:#fff;font-size:21px;text-align:center;position:fixed;width:480px;top:0;z-index:9999;margin:0 auto}

.wdbox .wdcon{margin-top:47px;padding-bottom:6px}

.wdbox .wdcon .box{padding-top:20px;margin-bottom:60px}

.wdbox .wdcon .box .left{width:20%;float:left}

.wdbox .wdcon .box .left img{width:80%;margin:0 auto;display:block}

.wdbox .wdcon .box .right{width:80%;float:left;padding:0 7px}

.wdbox .wdcon .box .right .con{min-width:310px;background-color:#fff;border:1px solid #d0d0d0;border-radius:10px;padding:15px;font-size:18px;line-height:28px;position:relative;float:left}

.wdbox .wdcon .box .right .con .sjx{    position: absolute;width: 0;height: 0;border-left: 10px solid transparent;border-right: 7px solid transparent;border-top: 20px solid #fff;left: -14px;top: 11px;transform: rotate(-272deg);}

.wdbox .wdcon .hzbox{margin-bottom:60px}

.wdbox .wdcon .hzbox .left{width:20%;float:right}

.wdbox .wdcon .hzbox .left img{width:80%;margin:0 auto;display:block}

.wdbox .wdcon .hzbox .right{width:80%;float:right;padding:0 10px}

.wdbox .wdcon .hzbox .right .con{min-width:30px;border-radius:10px;padding:10px;font-size:18px;line-height:25px;position:relative;background:#a0e75a;float:right;text-align:center}

.wdbox .wdcon .hzbox .right .con .sjx{    position: absolute;

    width: 0;

    height: 0;

    border-left: 7px solid transparent;

    border-right: 10px solid transparent;

    border-top: 20px solid #a0e75a;

       right: -8px;

    top: 6px;

    transform: rotate(139deg);}

.wdfixbom{z-index:1000;position:fixed;bottom:0;width:480px;background:#f4f4f6;border-top:1px solid #dcdcdc;height:80px;box-sizing:border-box}

.wdfixbom .btnbox{float:left;padding:0 9px}

.wdfixbom .btnbox button{display:block;height:60px;border:1px solid #83d45a;margin:10px auto;background:#A0E75A;border-radius:10px;cursor:pointer;width:100%;font-size:24px}

.wdfixbom .w100{width:100%}

.wdfixbom .w50{width:50%}

.wdfixbom .w33{width:50%}

.wdfixbom .lsbtn{margin-top:20px}

.wdfixbom .lsbtn li{float:left;width:100%;padding:0 .6rem;height:40px;line-height:40px}

.wdfixbom .lsbtn li a{display:block;width:100%;height:100%;background:#298DD9;color:#fff;font-size:18px;text-align:center;border-radius:10px}



.wdfixbom .lsbtn li {display:block;width:100%;height:100%;background:#298DD9;color:#fff;font-size:18px;text-align:center;border-radius:10px}



.wra_box { font-size: 16px; line-height: 28px; width: 452px; margin: 0 auto; }  
	.wra_box_txt { color: #327b2c; position: relative; padding: 8px 18px; margin-top: 15px; }
	.wra_box_txt:before { content: ""; width: 54px; height: 55px; border-top: 1px solid #327b2c; border-left: 2px solid #327b2c; position: absolute; left: 0; top: 0; }
	.wra_box_txt:after { content: ""; width: 54px; height: 53px; border-right: 1px solid #327b2c; border-bottom: 2px solid #327b2c; position: absolute; right: 0; bottom: 0; }
	.wra_box_img { text-align: center; margin-top: 20px; }
	.wra_box_txt1 { margin-top: 16px; }
	.wra_box_txt2 { color: #327b2c; }
	.wra_box_txt3 { width: 100%; height: 109px; padding: 14px 18px; margin-top: 16px; background: url(images/yjzt_bg.jpg) no-repeat; color: #fff; }
	.wra_box_txt3 span { color: #f2f000; }
	.wra_box_txt4 { text-align: center; margin-top: 17px; margin-bottom: 20px; }
	.wra_box_txt4 div {font-size: 18px; color: #000;}
	.wra_box_txt4 p { font-size: 14px; color: #666666; line-height: 13px; }
	.wdbox .wdtitle{height:44px;line-height:44px;background:#2E3238;color:#fff;font-size:21px;text-align:center;width:480px;z-index:9999;margin:0 auto; position:fixed; top:0;}
	.wdbox .wdcon{margin-top:-10px;padding-bottom:6px}
	.wdbox .wdcon .box{padding-top:20px;margin-bottom:20px}
	.wdbox .wdcon .box .left{width:20%;float:left}
	.wdbox .wdcon .box .left img{width:80%;margin:0 auto;display:block}
	.wdbox .wdcon .box .right{width:80%;float:left;padding:0 7px}
	.wdbox .wdcon .box .right .con{min-width:310px;background-color:#fff;border:1px solid #d0d0d0;border-radius:10px;padding:15px;font-size:18px;line-height:28px;position:relative;float:left}
	.wdbox .wdcon .box .right .con .sjx{    position: absolute;width: 0;height: 0;border-left: 10px solid transparent;border-right: 7px solid transparent;border-top: 20px solid #fff;left: -14px;top: 11px;transform: rotate(-272deg);}
	.wdbox .wdcon .hzbox{margin-bottom:20px}
	.wdbox .wdcon .hzbox .left{width:20%;float:right}
	.wdbox .wdcon .hzbox .left img{width:80%;margin:0 auto;display:block}
	.wdbox .wdcon .hzbox .right{width:80%;float:right;padding:0 10px}
	.wdbox .wdcon .hzbox .right .con{min-width:30px;border-radius:10px;padding:10px;font-size:18px;line-height:25px;position:relative;background:#a0e75a;float:right;text-align:center}
	.wdbox .wdcon .hzbox .right .con .sjx{    position: absolute;
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 10px solid transparent;
		border-top: 20px solid #a0e75a;
		right: -8px;
		top: 6px;
		transform: rotate(139deg);}
		.nav{width: 100%;height: auto;margin: 0 auto;background: #fff;}
		.nav ul{width: 100%;height: 50px;}
		.nav ul li{width: 33%;height: 50px;float: left;text-align: center;line-height: 50px;}
		.nav ul li:not(:last-child){border-right: 1px solid #e1e1e1;}
		.nav ul li a{font-size: 18px;color: #555555;width: 100%;display: block}
		.nav_li1{width: 50%;}
		.nav_li2{width: 25%;}
		.nav_li3{width: 24%;}

		.wdfixbom .input-group {
	background: #3EA4A8;
	padding: 15px 10px;
	width: 100%;
	height: 78px;
}
.wdfixbom .input-group p {font-size: 16px;color:#FFF;text-align: center;}
.wdfixbom .input-group p span {color:#fff;border: none;border-radius: 5px;margin-left: 15px;}
.wdfixbom .input-group p input {font-size: 15px;color: #666;border: none;width: 114px;border-radius: 5px;height: 30px;letter-spacing: 2px;padding: 16px 10px;font-weight: bold;}

.wdfixbom .input-group{width:90%;margin:10px auto;background:red}

.wdfixbom .input-group input{float:left;width:70%;height:58px;border:1px solid #d3d3d3;background:#f4f4f6;border-radius:10px 0 0 10px ;padding-left:10px;font-size:18px;color:#333}

.wdfixbom .input-group .tel{float:left;width:30%;background:#3F740B;color:#fff;font-size:18px;border:none;height:58px;border-radius:0 10px 10px 0;cursor:pointer}


.wdfixbom .input-group1 {
	background: #3EA4A8;
	padding: 15px 10px;
	width: 100%;
	height: 78px;
}
.wdfixbom .input-group1 p {font-size: 16px;color:#FFF;text-align: center;}
.wdfixbom .input-group1 p span {color:#fff;border: none;border-radius: 5px;margin-left: 15px;}
.wdfixbom .input-group1 p input {font-size: 15px;color: #666;border: none;width: 94px;border-radius: 5px;height: 30px;letter-spacing: 2px;padding: 16px 10px;font-weight: bold;}