@charset "utf-8";
@import url(iconfont.css);
/*通用样式*/
/*关闭按钮*/

#qiao-wrap {
    display: none !important;
}

#LXB_CONTAINER {
    right: -10000px !important;
}

#qiao-wrap,
#QIAO_INVITE_CONTAINER,
#QIAO_ICON_CONTAINER.qiao-icon-sector {
    display: none !important;
}

#LXB_CONTAINER_SHOW {
    right: -10000px !important;
}

#BDBridgeIconWrap,
#BDBridgeInviteWrap,
#BDBridgeMess,
.bds-credit-pop,
#qiao-wrap,
#LXB_CONTAINER,
.lxb-container,
.qiao-icon-sector-inner,
#qiao-wrap,
#qiao-icon-body,
#qiao-icon-wrap,
#qiao-icon-wrap .qiao-icon-head,
#qiao-wrap #qiao-icon-wrap {
    display: none !important;
}

.sl_Banner_close {
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 10px;
    height: 20px;
    width: 20px;
    display: block;
    background: url("../img/closeh.gif") no-repeat center;
}

#LRfloater1 {
    display: none !important;
}

#LRfloater0 {
    display: none !important;
}

.sl_Banner_close:hover {
    background: url("../img/closeh.gif") no-repeat center;
}
/* 顶部横幅菜单样式 */

#swttopBanner {
    width: 100%;
    overflow: hidden;
    height: 40px;
    position: fixed !important;
    top: 0;
    left: 0px;
    top: 0px;
    z-index: 2147483647;
    _position: absolute;
    _top: expression(documentElement.scrollTop);
    display: none;
    background: #086b37;
}

#swttopBanner .sl_top_nav {
    float: none;
    width: 1000px;
    margin: 0px auto;
}

#swttopBanner .sl_top_nav li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 11.1%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    float: left;
    position: relative;
}

#swttopBanner .sl_top_nav li a {
    color: #fff;
    display: block;
    font-size: 16px;
    position: absolute;
    width: 100%;
    margin: 0px !important;
    margin-left: -60px;
    text-decoration: none;
}

#swttopBanner .sl_top_nav li a:hover {
    color: #fff;
}

#swttopBanner .sl_top_nav .top_move_bg {
    margin-left: -1px;
    padding-left: 1px;
    background: #0567ba url(../img/nav_hover.gif) no-repeat bottom center;
    position: absolute;
    width: 125px;
    height: 40px;
    top: 0;
    left: -20px
}
/*商务通PC邀请界面样式*/

#pcnewswt {
    width: 400px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1001;
    position: fixed !important;
    left: 49%;
    height: 332px;
    margin-left: -200px !important;
    top: 50%;
    margin-top: -190px !important;
    display: none;
    background: url(http://cdn.xnekyy.cn/images/swt/ax_swt.gif) no-repeat;
    box-shadow: 1px 1px 5px #888888;
}

#pcnewswt .sl_swt_body {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 99;
}

#pcnewswt .swtfcswt {
    position: absolute;
    right: 118px;
    width: 192px;
    height: 35px;
    display: none;
    z-index: 100;
    top: 182px;
    background: none;
    border: 0;
}

#pcnewswt .sl_swt_dh {
    position: absolute;
    right: 28px;
    width: 88px;
    height: 42px;
    display: none;
    z-index: 100;
    top: 178px;
}

#pcnewswt .sl_swt_close {
    position: relative;
    left: 441px;
    top: 0px;
    width: 40px;
    height: 30px;
    display: block;
    z-index: 100;
}

#sjnewswt {
    position: fixed;
    _position: absolute;
    width: 240px;
    height: 170px;
    text-decoration: none;
    _top: expression(documentElement.scrollTop + 0);
    z-index: 2147483647;
    background: #F2F2F2;
    border: 1px solid #04807C;
    overflow: hidden;
    background: url(../img/swt.gif) no-repeat scroll left;
}

#sjnewswt .sl_swt_tit {
    background: #04807C url(../img/sjswtico.png) no-repeat scroll left;
    padding-left: 41px;
    height: 40px;
    width: 200px;
    line-height: 40px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 18px;
    color: #fff;
}

#sjnewswt .sl_swt_x {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
    background: url(../img/sjswtclose.png) no-repeat center;
}

#sjnewswt .sl_swt_x:hover {
    background: url(../img/sjswtcloseh.png) no-repeat center;
}

#sjnewswt a {
    text-decoration: none;
    color: #000;
}

#sjnewswt .sl_swt_zxzx {
    position: absolute;
    top: 130px;
    left: 15px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #6A5102;
    background: #FFF607;
    border: solid #D7D7D7 1px;
    /*IE 6 7 8*/
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FFFD02, endColorStr=#FFCB27);
    /* IE 10 */
    background: -ms-linear-gradient(top, #FFFD02, #FFCB27);
    /*火狐*/
    background: -moz-linear-gradient(top, #FFFD02, #FFCB27);
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFD02), to(#FFCB27));
    /*Safari5.1 Chrome 10+*/
    background: -webkit-linear-gradient(top, #FFFD02, #FFCB27);
    /*Opera 11.10+*/
    background: -o-linear-gradient(top, #FFFD02, #FFCB27);
}

#sjnewswt .sl_swt_zxzx:hover {
    background: #FFF607;
}

#sjnewswt .sl_swt_mfdh {
    position: absolute;
    top: 130px;
    right: 15px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #91EBEB;
    background: #FFF607;
    border: solid #D7D7D7 1px;
    /*IE 6 7 8*/
    FILTER: progid: DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#239F9F, endColorStr=#077A7A);
    /* IE 10 */
    background: -ms-linear-gradient(top, #239F9F, #077A7A);
    /*火狐*/
    background: -moz-linear-gradient(top, #239F9F, #077A7A);
    /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#239F9F), to(#077A7A));
    /*Safari5.1 Chrome 10+*/
    background: -webkit-linear-gradient(top, #239F9F, #077A7A);
    /*Opera 11.10+*/
    background: -o-linear-gradient(top, #239F9F, #077A7A);
}

#sjnewswt .sl_swt_mfdh:hover {
    background: #138A8A;
}

#sjnewswt .sl_swt_ts {
    position: absolute;
    top: 52px;
    left: 77px;
    font-size: 12px;
    border: solid #E9E9E9 1px;
    background: #fff;
    width: 135px;
    height: 50px;
    padding: 5px;
    line-height: 17px;
}

#sjnewswt .sl_swt_ts:hover {
    border: solid #0099CC 1px;
}

#sjnewswt .sl_swt_pic {
    position: absolute;
    top: 52px;
    left: 12px;
}

#sjnewswt .sl_swt_pic img {
    width: 58px;
    height: 58px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
}
/* 右侧Banner样式 */

#swtrightBanner {
    position: fixed;
    _position: absolute;
    left: 0px;
    top: 50px;
    _top: expression(documentElement.scrollTop + 112);
    background: url(../img/swt_left.png) no-repeat 0 center;
    width: 150px;
    height: 370px;
    z-index: 2147483647;
    display: none;
}

#sidebar {
    display: none;
}

#swtrightBanner .sl_swt_pc {
    display: block;
    width: 150px;
    height: 45px;
    text-decoration: none;
    margin-top: 168px;
}

#swtrightBanner .sl_swt_pc2 {
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
}

#swtrightBanner .sl_swt_pc3 {
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
}

#swtrightBanner .sl_swt_pc4 {
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
}

#swtrightBanner .sl_swt_pc5 {
    display: block;
    width: 150px;
    height: 40px;
    text-decoration: none;
}

#swtrightBanner .sl_swt_sj {
    display: block;
    background: url(../img/swt_left.png) no-repeat 0 center;
    width: 34px;
    height: 113px;
    text-decoration: none;
}
/* 底部Banner样式 */

#swtbottomBanner {
    width: 100%;
    height: 75px;
    background: url(../img/bottomBanner_bj.gif) repeat-x;
    position: fixed;
    _position: absolute;
    bottom: 0px;
    left: 0px;
    _bottom: expression(documentElement.scrollTop + 0);
    z-index: 2147483647;
}

#swtbottomBanner .sl_swt_bdiv {
    position: relative;
    _position: relative;
    display: block;
    background: url(../img/bottomBanner.gif) no-repeat 0 center;
    margin: auto;
    width: 990px;
    height: 75px;
}

#swtbottomBanner .sl_swt_btj {
    position: absolute;
    display: block;
    width: 80px;
    height: 40px;
    left: 564px;
    top: 24px;
}

#swtbottomBanner .sl_swt_bkk {
    position: absolute;
    width: 285px;
    height: 35px;
    left: 271px;
    top: 27px;
    color: #004121;
    font-size: 14px;
    border: none;
    background: none;
}

#swtbottomBanner .sl_swt_bswt {
    position: absolute;
    display: block;
    width: 60px;
    height: 48px;
    left: 921px;
    top: 20px;
}

#swtbottomBanner .sl_swt_cdiv {
    position: absolute;
    overflow: hidden;
    width: 256px;
    height: 40px;
    left: 658px;
    top: 24px;
}

#swtbottomBanner .sl_swt_cdiv ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #04552D;
}

#swtbottomBanner .sl_swt_cdiv ul li a {
    color: #9cdbbd;
    font-size: 12px;
    text-decoration: none;
    border: none;
}

#swtbottomBanner .sl_swt_cdiv ul li {
    height: 20px;
    line-height: 20px;
    list-style: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    padding: 0px;
}
/* 左侧Banner样式 */

#swtleftBanner {
    position: fixed;
    _position: absolute;
    left: 0px;
    top: 112px;
    _top: expression(documentElement.scrollTop + 112);
    z-index: 2147483647;
    display: none;
}

#swtleftBanner .telbeijing {
    display: block;
    background: url(../img/RightBanner1.gif) no-repeat 0 center;
    width: 160px;
    height: 288px;
    text-decoration: none;
}

#swtleftBanner .teltijiao {
    position: absolute;
    top: 249px;
    left: 34px;
    display: block;
    width: 70px;
    height: 25px;
    text-decoration: none;
}

#swtleftBanner input {
    position: absolute;
    top: 215px;
    left: 10px;
    display: block;
    width: 118px;
    height: 21px;
    border: none;
    background: none;
    border: 1px solid #139ADC;
}

#swtleftBanner #sjswtLeftBanner {
    display: block;
    text-decoration: none;
    display: block !important;
    z-index: 2147483647;
    color: rgb(255, 255, 255);
    font-size: 14px;
    background-color: rgb(15, 120, 181);
    line-height: 1.3;
    width: 1em;
    padding: 1em;
    cursor: pointer;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
}

#sjswtLeftBanner:before,
#sjswtLeftBanner:after {
    content: '';
}

#pcnewswt2 {
    display: none;
}
/*底部QQ抖动样式 */

#swtQQBanner {
    position: fixed;
    _position: absolute;
    right: 0px;
    bottom: 0px;
    width: 209px;
    height: 139px;
    text-decoration: none;
    _bottom: expression(documentElement.scrollTop + 0);
    z-index: 2147483647;
    background: url(../img/qqbanner.gif) no-repeat 0 center;
    display: none !important;
}

#swtQQBanner a {
    color: #1C6EFF;
    font-size: 12px;
    text-decoration: none;
}

#swtQQBanner a:hover {
    color: #4C8BF9;
}

#swtQQBanner .sl_swt_js {
    position: absolute;
    top: 107px;
    left: 102px;
}

#swtQQBanner .sl_swt_jj {
    position: absolute;
    top: 107px;
    left: 150px;
}

#swtQQBanner .sl_swt_qq {
    position: absolute;
    top: 18px;
    left: 65px;
    padding-top: 38px;
}

#swtQQBanner .sl_swt_ts {
    position: absolute;
    top: 78px;
    left: 77px;
    font-size: 12px;
}

#swtQQBanner .sl_swt_pic {
    position: absolute;
    top: 52px;
    left: 5px;
}

#swtQQBanner .sl_swt_pic img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 0;
}

#swtQQBanner .sl_swt_tit {
    position: absolute;
    top: 10px;
    left: 35px;
    font-size: 12px;
    color: #313131;
}

#swtQQBanner .sl_swt_x {
    width: 36px;
    height: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: block;
}

#swtQQBanner .sl_swt_x:hover {
    background: url(../img/qqclose.gif) no-repeat center;
}
/*仿企业qq*/

.mains2x {
    display: none;
    position: fixed;
    z-index: 2147483647 !important;
    left: 50%;
    right: auto;
    margin-left: -163px;
    top: 50%;
    bottom: auto;
    margin-top: -86px;
}

.main2x {
    height: 172px;
    background-repeat: no-repeat;
    width: 327px;
}

.btn {
    display: block;
}

.launchBtn {
    top: 145px;
    left: 173px;
    width: 69px;
    height: 22px;
}

.laterBtn {
    top: 145px;
    left: 248px;
    width: 69px;
    height: 22px;
}

.closeBtn {
    top: 0;
    right: 6px;
    width: 39px;
    height: 26px;
}

.title2x {
    position: absolute;
    top: 1px;
    left: 17px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    margin-top: 0px;
}

.content2x {
    position: absolute;
    top: 45px;
    left: 114px;
    width: 203px;
    height: 85px;
}

.content2x .msg {
    font-size: 12px;
    color: #000;
    line-height: 25px;
}

.botom_fix {
    position: fixed;
    bottom: 0;
    height: 53px;
    width: 100%;
    z-index: 5;
    background: #0075bf;
    left: 0;
    z-index: 10000;
    font-size: 12px;
}

.botom_tel {
    background: url(/swt/html/img/nsw_bottom_bg.gif) no-repeat center bottom;
    height: 53px;
    width: 1027px;
    margin: 0 auto;
}

.form {
    width: 635px;
    float: left;
}

.txtt {
    border: 1px #ccc solid;
    width: 210px;
    height: 31px;
    margin: 12px 0 0 300px;
    border: none;
    line-height: 31px;
    text-indent: 5px;
    font-family: "微软雅黑";
    font-size: 13px;
}

.subbo {
    background: url(/swt/html/img/nsw_botom_ip_sub.gif) no-repeat;
    height: 28px;
    width: 114px;
    border: none;
    margin: 14px 0 0 5px;
    cursor: pointer;
    color: #890201;
    font-size: 16px;
    font-family: "微软雅黑";
}

.pic_1 {
    float: left;
    margin: 12px 5px 0 37px;
}

.pic_1 a,
.pic_2 a {
    display: block;
    width: 107px;
    height: 30px;
}

.pic_2 {
    float: left;
    margin-top: 25px;
}

.img_none {
    position: absolute;
    top: -55px;
    left: 613px;
    display: none;
}

#wtall {
    float: left;
    margin: 14px 140px 0 14px;
    padding-left: 40px;
    color: #FFF;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #FFFF00
}

.swttc {
    max-width: 480px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background: #fff !important;
    overflow: hidden;
}

.swttc i.icon-guanbi2 {
    font-size: 30px;
    color: #333;
    font-weight: bold;
    margin-top: 2px;
    margin-right: 1px;
    position: absolute;
    right: 0;
    top: 0;
}

.swt_zxzz {
    display: block;
    width: 50%;
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    float: left;
    background: #45b4bb;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: #fff;
}

.swt_zxzz i {
    font-size: 26px;
    padding-right: 2%;
}

.swt_djzz {
    display: block;
    width: 50%;
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    float: left;
    background: #f08200;
    border-bottom-right-radius: 10px;
    text-align: center;
    color: #fff;
}

.swt_djzz i {
    font-size: 20px;
    padding-right: 2%;
}

.swttc3 {
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
    line-height: 30px;
    width: 80%;
    padding-bottom: 10px;
    margin: 0 auto;
}

.swt_zixun {
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #d8d8d8;
    overflow: hidden;
    height: 35px;
}

.swt_zixun input {
    color: #333;
    border: 0;
    line-height: 35px;
    height: 35px;
    width: 55%;
    float: left;
    border-radius: 10px;
    outline: none;
}

.swt_zixun a {
    display: block;
    float: right;
    width: 35%;
    background: #f08200;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.swttc1 {
    text-align: center;
    color: #45b4bb;
    font-size: 30px;
    padding-top: 20px;
    line-height: 45px;
}

.swttc2 {
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 35px;
}

.weui-badge {
    display: inline-block;
    padding: .15em .4em;
    min-width: 8px;
    border-radius: 18px;
    background-color: #E64340;
    color: #FFFFFF;
    line-height: 1.2;
    text-align: center;
    font-size: 12px;
    vertical-align: middle;
    position: relative;
    top: -16px;
    left: -5px;
    -webkit-animation: scaleout 2s infinite ease-in-out;
    animation: scaleout 2s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(1.0)
    }
    100% {
        -webkit-transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes scaleout {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        opacity: 0;
    }
}

.swt_zx {
    width: 400px;
    height: 332px;
    position: absolute;
    z-index: 100;
}

.swt_gb {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 11111;
    top: 0px;
    right: 0px;
}


#sidebar {
    position: fixed;
    z-index: 100001;
    top: 30px;
    right: 10px;
}

#sidebar ul li {
    width: 72px;
    height: 72px;
    line-height: 72px;
    background: #1180C4;
    margin-top: 2px;
    _*margin-top: 2px;
    text-align: center;
    position: relative;
}

#sidebar ul li.first {
    border: 0;
    background: none;
    height: 63px;
    margin-bottom: 11px;
}

#sidebar ul li i {
    display: inline-block;
    width: 72px;
    height: 72px;
    float: right
}

#sidebar ul li i.top2 {
    width: 72px;
    height: 72px;
    margin-top: 0
}

#sidebar ul li .ht {
    width: 72px;
    height: 72px;
    position: absolute;
    right: -350px;
    background: #00F;
    top: 0px;
    opacity: 0;
    display: none
}

#sidebar ul li .ht_iphone,
#sidebar ul li .ht_weixin {
    width: 226px;
    height: 217px;
    top: -73px
}

#sidebar ul li .ht_iphone {
    background: url(/swt/img/dhh.png) no-repeat
}

#sidebar ul li .ht_weixin {
    background: url(/swt/img/wxh.png) no-repeat;
    top: -83px
}

.top2 {
    background: url(/swt/img/top.png) no-repeat;
}

.dx {
    background: url(/swt/img/dx.png) no-repeat center center;
}

.dh {
    background: url(/swt/img/dh.png) no-repeat center center;
}

.qq {
    background: url(/swt/img/qq.png) no-repeat center center
}

.dh2 {
    background: url(/swt/img/dh.png) no-repeat center center
}

.dt {
    background: url(/swt/img/dt.png) no-repeat center center
}

.wx {
    background: url(/swt/img/wx.png) no-repeat center center
}

.wb {
    background: url(/swt/img/wb.png) no-repeat center center
}

#swtfc {
    float: left;
    margin-top: 19px;
    margin-left: 10px;
    width: 200px;
    height: 30px;
    background-color: #fff;
}

.swtfc2 {
    display: block;
    height: 34px;
    width: 95px;
    float: left;
    background-color: #E45100;
    margin-top: 19px;
    margin-left: 10px;
    line-height: 30px;
    color: #fff;
}

.dh2_s_s {
    background: url(/swt/img/dh.png) no-repeat center center;
    width: 44px;
    height: 38px
}

.dt_s {
    background: url(/swt/img/dt_s.png) no-repeat center center;
    width: 31px;
    height: 41px
}

.qq_s {
    background: url(/swt/img/qq_s.png) no-repeat center center;
    width: 31px;
    height: 41px
}

.dx_s {
    background: url(/swt/img/dx_s.png) no-repeat center center;
    width: 44px;
    height: 38px
}

.wb_s {
    background: url(/swt/img/wb_s.png) no-repeat center center;
    width: 44px;
    height: 36px
}

#sidebar ul li .sidebox {
    position: absolute;
    width: 72px;
    height: 72px;
    top: 0;
    right: 0px;
    transition: all 0.3s;
    background: #1180C4;
    opacity: 1;
    filter: Alpha(opacity=100);
    color: #fff;
    font: 14px/72px "Microsoft YaHei";
    overflow: hidden;
}

#sidebar ul li span {
    position: relative;
    left: 8px
}

.kfzl_fixed {
    position: fixed;
    left: 3px;
    top: 20%;
}

.div1 {
    z-index: 10001;
    background: url(/swt/html/img/zuoce1.png) no-repeat;
    width: 180px;
    height: 238px;
}

.div2 {
    width: 165px;
    height: 103px;
    margin-top: 108px;
    margin-left: 1px;
}

.div3 {
    width: 23px;
    height: 25px;
    margin-top: 0px;
    margin-left: 154px;
}