<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi" />
    <title>中国儿童注意力水平测评量表（家长版）-熊管家教育-专注于儿童成长行为能力培训与提升 服务热线4001126388</title>
    <link rel="stylesheet" href="/templets/default/css/index.css">
    <link rel="stylesheet" href="/templets/default/css/swiper.min.css">
    <script src="/templets/default/js/jquery-1.8.3.min.js"></script>
    <script src="/templets/default/js/touchslide.1.1.js"></script>
    <script src="/templets/default/js/swiper.min.js"></script>
  </head>
  <body>
      <div class="top">
    <a href="tel:400-112-6388">
        <img src="/templets/default/images/top.jpg" alt="">
    </a>
</div>
<div class="nav">
    <ul class="over">
        <li><a href="/" >首页</a></li>
        
        <li><a href="/shdx/">适合对象</a></li>
        
        <li><a href="/ktsz/">课堂设置</a></li>
        
        <li><a href="/pxys/">培训优势</a></li>
        
        <li><a href="/jltd/">教练团队</a></li>
        
        <li><a href="/pxal/">培训案例</a></li>
        
        <li><a href="/pxzx/">培训资讯</a></li>
        
        <li><a href="/gywm/">关于我们</a></li>
        
    </ul>
</div>

      <div class="biu_md biu_w620 biu_artimg">

<!-- [field:arttopimg function='GetOneImgUrl(@me,0)'/]
[field:id function="BodyImgNum(@me)"/] -->
        <a href="tel:400-112-6388"></a>
      </div>
      <div class="biu_md biu_w620 biu_weizhi">
          <span><img src="/templets/default/images/icon1.png"></span><a href='http://127.0.0.1/'>主页</a> > <a href='/zt/'>专题</a> > 
      </div>
   <div class="biu_art_center biu_md biu_w620">
     <div class="biu_art_title">
        中国儿童注意力水平测评量表（家长版）
     </div>
     <div class="biu_art_box">
        <p>
          <section style="box-sizing: border-box;">
	<section class="V5" powered-by="xiumi.us" style="position: static; box-sizing: border-box;">
		<section style="position: static; box-sizing: border-box;">
			<section style="box-sizing: border-box;">
				<p style="margin: 0px; padding: 0px; box-sizing: border-box;">
					&nbsp;</p>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; box-sizing: border-box;">
		<section style="text-align: center; margin-top: 10px; margin-bottom: 10px; position: static; box-sizing: border-box;">
			<section style="max-width: 100%; vertical-align: middle; display: inline-block; box-shadow: rgb(0, 0, 0) 0px 0px 0px; box-sizing: border-box;">
				<img data-ratio="0.625" data-w="640" src="/uploads/allimg/180811/114440O36-0.jpg" style="vertical-align: middle; max-width: 100%; box-sizing: border-box;" /></section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					1.孩子在这家里写作业拖拉、磨蹭？</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="47cd33b178e46dd34407de4f5dc02fde" opera-ng-model="userInputFormData['47cd33b178e46dd34407de4f5dc02fde']" type="radio" value="17ba1ec61fea4f15ebc3d8ce0a2c4ef5" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="47cd33b178e46dd34407de4f5dc02fde" opera-ng-model="userInputFormData['47cd33b178e46dd34407de4f5dc02fde']" type="radio" value="e88956974de8c19003eed64800702eab" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					2.简单的题目会做，但是要磨蹭很久，甚至1-2小时？</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="6f3dbc187974b9821775d2acaa3279bb" opera-ng-model="userInputFormData['6f3dbc187974b9821775d2acaa3279bb']" type="radio" value="f3b93f04a16609f3de61d33815943668" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="6f3dbc187974b9821775d2acaa3279bb" opera-ng-model="userInputFormData['6f3dbc187974b9821775d2acaa3279bb']" type="radio" value="c869a363160b603d72bc5da89c32bfff" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					3.孩子上课很少举手发言，被老师点名了，也常回答不上来？</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="0b24cc1c4dc07ceba7715f8924fcde78" opera-ng-model="userInputFormData['0b24cc1c4dc07ceba7715f8924fcde78']" type="radio" value="77a5301b4e1093c34bd63a71fdd8e5b6" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="0b24cc1c4dc07ceba7715f8924fcde78" opera-ng-model="userInputFormData['0b24cc1c4dc07ceba7715f8924fcde78']" type="radio" value="2cc54185b413103c37483a7e4a612858" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					4.孩子被老师和父母批评了，心里越想越委屈，上课想，写作业想，学习无法专心。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="62d9b18cd9cca6b2d247cc5e428a7dc9" opera-ng-model="userInputFormData['62d9b18cd9cca6b2d247cc5e428a7dc9']" type="radio" value="a4218361481e7c4702625c2d78ad6ccb" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="62d9b18cd9cca6b2d247cc5e428a7dc9" opera-ng-model="userInputFormData['62d9b18cd9cca6b2d247cc5e428a7dc9']" type="radio" value="4bbdc184855d64e4fd2684f9036df88f" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					5.孩子看了好看的动画片，或者参加有趣的活动，到第二天上课还在回想，甚至上课时与同桌讲话，注意力无法及时转移到学习上来。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="3d152eeb33752d03b4950db9f1f539c3" opera-ng-model="userInputFormData['3d152eeb33752d03b4950db9f1f539c3']" type="radio" value="7df836653848ac18746f120ddcb1c7c1" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="3d152eeb33752d03b4950db9f1f539c3" opera-ng-model="userInputFormData['3d152eeb33752d03b4950db9f1f539c3']" type="radio" value="f7905a780e75a1f564a2e7fc86d4c8c2" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					6.孩子做作业粗心大意，做事经常三心二意。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="359221a862a6abb95c8abead60fd9ecb" opera-ng-model="userInputFormData['359221a862a6abb95c8abead60fd9ecb']" type="radio" value="9be54668b6485aee9eac079f57123ae4" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="359221a862a6abb95c8abead60fd9ecb" opera-ng-model="userInputFormData['359221a862a6abb95c8abead60fd9ecb']" type="radio" value="795c48456f96f172470faabf46d9753c" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					7.孩子上课有时不能进入状态，听课心不在焉。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="3cdf0e6213735ce9404650752a116a6a" opera-ng-model="userInputFormData['3cdf0e6213735ce9404650752a116a6a']" type="radio" value="5ba8b7266e06fd4de211af8495b1f5eb" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="3cdf0e6213735ce9404650752a116a6a" opera-ng-model="userInputFormData['3cdf0e6213735ce9404650752a116a6a']" type="radio" value="fd2d37402a6494963b313e821be12ff4" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					8.在家里写作业，听到脚步声和有人走过来，就会掉头张望，大人在客厅看电视，他容易坐不住。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="a9a2a0eb68ca39a2689500410ee93d9f" opera-ng-model="userInputFormData['a9a2a0eb68ca39a2689500410ee93d9f']" type="radio" value="75490643d2786839c9644f5fba03d463" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="a9a2a0eb68ca39a2689500410ee93d9f" opera-ng-model="userInputFormData['a9a2a0eb68ca39a2689500410ee93d9f']" type="radio" value="13644223d7b803939bc6e32a9bced247" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					9.读书静不下心来，不能持续30分钟以上。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="eee326252288a81442e7de79701394fe" opera-ng-model="userInputFormData['eee326252288a81442e7de79701394fe']" type="radio" value="ed09441375f96e415af16c845f9f82ed" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="eee326252288a81442e7de79701394fe" opera-ng-model="userInputFormData['eee326252288a81442e7de79701394fe']" type="radio" value="6a0308e3ffd5a0388ebe07646f0183fb" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					10.孩子很爱穿那一两套自己特别喜欢的衣服。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="d928a0a51f2ece6ca1571daa3862dde3" opera-ng-model="userInputFormData['d928a0a51f2ece6ca1571daa3862dde3']" type="radio" value="e14987de749f871c604bdcce484b6965" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="d928a0a51f2ece6ca1571daa3862dde3" opera-ng-model="userInputFormData['d928a0a51f2ece6ca1571daa3862dde3']" type="radio" value="57914a681bb87310c85511ff7fab62fe" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					11.孩子的好朋友各方面都和孩子很相似。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="dfffb3c194c6d9c4182c48f35b04a6b9" opera-ng-model="userInputFormData['dfffb3c194c6d9c4182c48f35b04a6b9']" type="radio" value="56db9aeea505d9329df956f5ad6f320d" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="dfffb3c194c6d9c4182c48f35b04a6b9" opera-ng-model="userInputFormData['dfffb3c194c6d9c4182c48f35b04a6b9']" type="radio" value="82c6b3ba9593ba0a0f6cf3ede1936555" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					12.哪怕很小的事情孩子常担心自己做不好。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="864d544f3183c8c409db6facc6573223" opera-ng-model="userInputFormData['864d544f3183c8c409db6facc6573223']" type="radio" value="d5bc5ab4f74d821a49bacb92497b432a" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="864d544f3183c8c409db6facc6573223" opera-ng-model="userInputFormData['864d544f3183c8c409db6facc6573223']" type="radio" value="54385465d53b85da9c547756fdeb7925" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					13.孩子做事有些拖拖拉拉。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="10056f674ed6b354b936fac5c9211a26" opera-ng-model="userInputFormData['10056f674ed6b354b936fac5c9211a26']" type="radio" value="bfa8edc16f9161c0972f54d617afcfcc" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="10056f674ed6b354b936fac5c9211a26" opera-ng-model="userInputFormData['10056f674ed6b354b936fac5c9211a26']" type="radio" value="6016d644c3b053c5945ab7b3caae4502" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					14.教育孩子的时候，孩子常常会左耳进，右耳出，不知我在说什么。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="d06d48bfc620bfda47fd562f89e0cf85" opera-ng-model="userInputFormData['d06d48bfc620bfda47fd562f89e0cf85']" type="radio" value="b19702d37a5e19d04b41fa98f8305064" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="d06d48bfc620bfda47fd562f89e0cf85" opera-ng-model="userInputFormData['d06d48bfc620bfda47fd562f89e0cf85']" type="radio" value="1f337a54dac8fe63c2efe2fa5a91a57b" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					15.一有担心的事情，孩子会终日考虑，干什么事情都提不起精神。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="2c7c5bcbc61ccd604bf5786afe381017" opera-ng-model="userInputFormData['2c7c5bcbc61ccd604bf5786afe381017']" type="radio" value="de0193caf438aadfc047a1c2f9d5c419" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="2c7c5bcbc61ccd604bf5786afe381017" opera-ng-model="userInputFormData['2c7c5bcbc61ccd604bf5786afe381017']" type="radio" value="c9c84867bfc7a89b0db1d91258d770ac" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					16.做作业时，孩子觉得时间过得特别慢。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="1d8d947f26ca6c4eacb46dff91ed69e3" opera-ng-model="userInputFormData['1d8d947f26ca6c4eacb46dff91ed69e3']" type="radio" value="5d5a9016e69549ad1b30c03f43bc9962" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="1d8d947f26ca6c4eacb46dff91ed69e3" opera-ng-model="userInputFormData['1d8d947f26ca6c4eacb46dff91ed69e3']" type="radio" value="a780b8782253504547f5cefccc789b24" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					17.被老师批评后，孩子很难忘记,有时几天不高兴。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="a7c0d1bd423b80540963cb6c82e5bb21" opera-ng-model="userInputFormData['a7c0d1bd423b80540963cb6c82e5bb21']" type="radio" value="1a3ddf5659d887fa974b2c95f09ea139" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="a7c0d1bd423b80540963cb6c82e5bb21" opera-ng-model="userInputFormData['a7c0d1bd423b80540963cb6c82e5bb21']" type="radio" value="03cbb5ef84d0530ebb098546b780be75" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					18.孩子做事情没有定计划的习惯。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="24de70b435dc063b44260b8c6f4b9a36" opera-ng-model="userInputFormData['24de70b435dc063b44260b8c6f4b9a36']" type="radio" value="b4a0e1241ca756b7e5f4b851dc44f6a2" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="24de70b435dc063b44260b8c6f4b9a36" opera-ng-model="userInputFormData['24de70b435dc063b44260b8c6f4b9a36']" type="radio" value="f38a39b1966aa1e382cffde7f33c95de" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					19.要孩子参加自己不喜欢的活动，他特别难受。</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="cbdc3d6b290013cda97e042f7b609fa0" opera-ng-model="userInputFormData['cbdc3d6b290013cda97e042f7b609fa0']" type="radio" value="e65e8e204840c79408af207aebe36c4e" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="cbdc3d6b290013cda97e042f7b609fa0" opera-ng-model="userInputFormData['cbdc3d6b290013cda97e042f7b609fa0']" type="radio" value="35f2f0d666af56e213ebd9a50c27de6a" /> <span style="box-sizing: border-box;">否</span> </label></section>
				</section>
			</section>
		</section>
	</section>
	<section class="V5" powered-by="xiumi.us" style="position: static; height: auto; box-sizing: border-box;">
		<section style=" position: static; box-sizing: border-box;">
			<section style="width: 100%; box-sizing: border-box;">
				<section style="width: 100%; padding: 0.2em 0.5em; font-size: 18px; box-sizing: border-box;">
					20.孩子是否愿意和父母聊天谈心？</section>
				<section style="width: 100%; padding: 0.2em 0.5em; box-sizing: border-box;">
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="e3ee0856da392ebab1efad5fa87cd684" opera-ng-model="userInputFormData['e3ee0856da392ebab1efad5fa87cd684']" type="radio" value="391d0b41f68f7d68391f5427291a2fa1" /> <span style="box-sizing: border-box;">是</span> </label></section>
					<section style="width: 100%; display: inline-block; color: rgb(52, 54, 60); box-sizing: border-box;">
						<label style="width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; box-sizing: border-box;"><input name="e3ee0856da392ebab1efad5fa87cd684" opera-ng-model="userInputFormData['e3ee0856da392ebab1efad5fa87cd684']" type="radio" value="f4ff1d586d19482427ae30ea80d0a143" /> <span style="box-sizing: border-box;">否</span></label></section>
				</section>
			</section>
		</section>
	</section>
</section>
      <div>
          <h1 class="title1 mt30">填写以下内容，获得测评结果</h1>
                <div class="w620 back">
                  <form action="/plus/kst.php" method="post" onsubmit="return subtable();" class="form pt30" target="_self">
                    <label for="">了解方向：</label>
                    <select name="email">
                      <option value="学习力">学习力</option>
                      <option value="自控力">自控力</option>
                      <option value="合作能力">合作能力</option>
                      <option value="言语能力">言语能力</option>
                      <option value="思维能力">思维能力</option>
                      <option value="感统能力">感统能力</option>
                      <option value="注意力">注意力</option>
                      <option value="注意力">儿童教育</option>
                      <option value="注意力">家庭教育</option>
                    </select>
                    <label for="" class="ml30">被测试年龄：</label>
                    <select name="age">
                      <option value="2岁">2岁</option>
                      <option value="3岁">3岁</option>
                      <option value="4岁">4岁</option>
                      <option value="5岁">5岁</option>
                      <option value="6岁">6岁</option>
                      <option value="7岁">7岁</option>
                      <option value="8岁">8岁</option>
                      <option value="9岁">9岁</option>
                      <option value="10岁">10岁</option>
                      <option value="11岁">11岁</option>
                      <option value="12岁">12岁</option>
                      <option value="13岁">13岁</option>
                      <option value="14岁">14岁</option>
                      <option value="15岁">15岁</option>
                      <option value="16岁">16岁</option>
                      <option value="17岁">17岁</option>
                      <option value="18岁">18岁</option>
                    </select>
                    <br>
                    <br>
                    <label>性别：</label>
                    <label for="nan">男</label><input type="radio" name="sex" id="nan" class="sex">
                    <label for="nv" class="ml20">女</label><input type="radio" name="sex" id="nv" class="sex">
                    <br>
                    <br>
                    <label for="">家长姓名：</label><input type="text" name="name" class="Jname" id="usename">
                    <label for="" class="ml10">联系手机：</label><input type="text" name="hometel" id="usetel" class="Jphoto">
                    <br>
                    <br>
                    <label for="" class="topduiqi">其他描述：</label><textarea class="Jxq" name="ill"></textarea>
                    <div class="btn mt40">
                      <input type="submit" class="juse" value="提交信息">
                      <input type="reset" class="lvse" value="重新填写">
                    </div>
                  </form>
                </div>
                <div class="mt40">
                    <img src="/templets/default/images/di.png">
                </div>
                <script type="text/javascript">
                    function subtable(){
                      var usename = $("#usename").val();
                      var usetel = $("#usetel").val();
                      var newdata = new Object();
                      var isMobile=/^(?:13\d|15\d|18\d)\d{5}(\d{3}|\*{3})$/;
                      var isPhone=/^((0\d{2,3})-)?(\d{7,8})(-(\d{3,}))?$/;
                      var pattern = /[A-Za-z0-9_\-\u4e00-\u9fa5]+/;
                      if(!pattern.test(usename)||usename.length<2) {
                        alert('请填写正确的姓名！');
                        return false;
                      }else if (!isMobile.test(usetel) && !isPhone.test(usetel)) {
                        alert('请填写正确的号码！');
                        return false;
                      }else {

                      }
                    }
                </script>
            </div>
        </p>
     </div>
     <div class="biu_art_pro">
       <ul>
         <li>上一篇：<a href='/zt/60.html'>国际儿童注意力在线测评</a>  </li>
         <li>下一篇：没有了 </li>
       </ul>
     </div>
   </div>

    <div class="biu_md biu_w620 biu_beian">
    Copyright©2016 LINKGROUP All rights reserved. 西安熊管家教育科技有限公司@版权所有  <br> 陕ICP备18009613号
</div>
<div class="kongbai"></div>
<div class="footerNav">
    <ul>
        <li>
          <a href="/">
            <i class="shouye"></i>
            <span>首页</span>
          </a>
        </li>
        <li>
          <a href="tel:400-112-6388">
            <i class="photo"></i>
            <span>电话咨询</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0)"  onclick="openZoosUrl('chatwin','&e=在线咨询');">
            <i class="zaixian"></i>
            <span>在线咨询</span>
          </a>
        </li>
    </ul>
</div>

<script type="text/javascript" src="/swt/swt.js"></script>


  </body>
</html>
